<template>
  <div class ="container">
    <section class="AboutUs noSelection">
      <div class="AboutUs-wrapper">
        <div class="AboutUs-el">
          <div class="AboutUs-el__header FontStyleLobster">
            <img class="noSelection" src="@/img/other/456.png" alt="Родители с детьми">

            <h2>Сайт создан родителями Максима</h2>
          </div>
          <div class="AboutUs-el__content">
            <p>Максим – маленький человечек, который пытается адаптироваться жить в нашем мире «нормальных» детей. Обучение дается ему тяжело, но мы не опускаем руки и не останавливаемся. Максим не выбирал родиться «особенным» и мы к этому не стремились, но случилось то, что случилось.</p>
            <br/>
            <p>Мы на своем опыте знаем как тяжело может быть родителям и как им нужна поддержка.</p>
            <br/>

            <p>Мы делимся опытом воспитания и лечения детей с различными заболеваниями, в том числе ментальными.</p>
            <br/>

            <p>Если мы сможем таким образом облегчить кому-то жизнь, то значит, это сделано не зря. </p>
            <br/>
            <br/>
            <br/>

            <p>PS Если вы хотите с нами связаться, то самый быстрый способ –
              <a href="https://t.me/netakiedeti" target="_blank" rel="nofollow noopener noreferrer" class="el-link">Telegram</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {


      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.AboutUs {
  padding: 2% 5%;
  overflow: hidden;
  margin: 2% 0;
  background-color: white;
  border-radius: 15px;
  &-wrapper {
  }
  &-el {
    // font-family: Cambria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // background-color: greenyellow;
    width: 100%;
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #660099;
      & img {
        align-self: center;
        width: 50%;
        padding: 2%;
        @media (max-width: 444px) {
          width: 100%;
          padding: 2%;
        }

      }

    }
    &__content {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 2%;
      text-align: justify;
      & a {
        display: inline;
        text-decoration: none;
      }
    }
  }
}
</style>
