<template>
  <div class ="container">
    <section class="DocumentingDisease noSelection">
      <div class="DocumentingDisease-wrapper">
        <div class="DocumentingDisease-el">
          <div class="DocumentingDisease-el__header FontStyleLobster">
            <h2>Документирование болезни.</h2>
          </div>
          <div class="DocumentingDisease-el__content">
            <p>Фотофиксации, к сожалению, подверглась не вся история, (не рассчитывали мы делать её общедоступной) но то, что есть, мы вам предоставим:</p>
            <div class="pdf-wrapper">
              <template v-for="pdf in pdfs" :key="pdf.id">
                <div class="pdf-component">
                  <a :href=pdf.href target="_blank" rel="noopener noreferrer nofollow" class="pdf-blockLink">
                    <div class="pdf-icon">
                      <svg viewBox="0 0 30 38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="pdf-icon-svg" width="30px" height="38px" fill="#660099">
                        <path d="M4,2 C2.8954305,2 2,2.8954305 2,4 L2,34 C2,35.1045695 2.8954305,36 4,36 L26,36 C27.1045695,36 28,35.1045695 28,34 L28,9.24264069 C28,8.71220771 27.7892863,8.20349988 27.4142136,7.82842712 L22.1715729,2.58578644 C21.7965001,2.21071368 21.2877923,2 20.7573593,2 L4,2 Z M4,0 L20.7573593,0 C21.8182253,0 22.8356409,0.421427361 23.5857864,1.17157288 L28.8284271,6.41421356 C29.5785726,7.16435908 30,8.18177473 30,9.24264069 L30,34 C30,36.209139 28.209139,38 26,38 L4,38 C1.790861,38 0,36.209139 0,34 L0,4 C0,1.790861 1.790861,0 4,0 Z M22.8767429,16.0125218 C23.1049793,16.4427009 23.0152127,16.9375495 22.6160376,17.4894595 C22.2248206,18.0169599 21.6951338,18.3009986 21.0756803,18.3009986 C20.2362667,18.3009986 19.2504253,17.7734982 18.1582645,16.7429069 C16.1862633,17.1486765 13.8965773,17.8708194 12.0385352,18.6661911 C11.4598268,19.8755746 10.8976713,20.8494215 10.3842188,21.5633222 C9.67531701,22.5454113 9.05586349,23 8.45296277,23 C8.21644993,23 7.9802554,22.9267713 7.78480609,22.7806308 C7.05935155,22.2531304 6.96162686,21.6609605 7.0106484,21.255191 C7.14084184,20.1431288 8.53445305,18.9828816 11.1583764,17.7979077 C12.2015158,15.5500079 13.1873572,12.7825329 13.7822999,10.4696466 C13.0896325,8.9844666 12.4214758,7.06942462 12.9104175,5.94119509 C13.0816745,5.55191003 13.2933582,5.24346172 13.6928516,5.11348871 C13.8475558,5.06498659 14.2467309,5 14.393477,5 C14.670735,5 14.9069295,5.25962912 15.0781864,5.44634649 C15.2736357,5.66539865 15.4448927,5.92502778 15.5098303,6.2173086 C15.6648528,6.94769376 15.5181066,7.77540023 15.3958712,8.49754316 C15.2898702,9.1144397 15.1514003,9.73133623 15.0046542,10.3399905 C15.9417924,12.2388651 17.2618714,14.1703915 18.5332471,15.4932636 C19.4458746,15.3309558 20.2283087,15.2498019 20.8639966,15.2498019 C21.9475627,15.2498019 22.6077612,15.5011888 22.8767429,16.0125218 Z M8.4691971,21.8473608 C8.57519819,21.8150261 9.17809892,21.5471548 10.2944522,19.510382 C8.81139264,20.3219211 8.20849192,20.9952448 8.16774677,21.3769219 C8.16774677,21.4415913 8.14323596,21.6038991 8.4691971,21.8473608 Z M14.1572826,6.22523377 C14.0837503,6.2496434 13.2363787,7.42637505 14.2225385,8.41638925 C14.8824187,6.9721034 14.1897513,6.2173086 14.1572826,6.22523377 Z M12.7229262,17.1486765 C14.1735169,16.5967665 15.7463431,16.1098431 17.2211262,15.7773023 C16.283988,14.705817 15.3468497,13.3667776 14.572692,11.9954034 C14.0837503,13.683468 13.42387,15.5011888 12.7229262,17.1486765 Z M20.8232514,17.1242669 C20.986232,17.1242669 21.4506629,17.1163418 21.6623467,16.8240608 C21.7683477,16.6779204 21.8090928,16.5888414 21.8173692,16.5482644 C21.7358789,16.4994452 21.6216015,16.4100491 21.0024664,16.4100491 C20.6519944,16.4100491 20.2120743,16.4265335 19.747325,16.4832778 C20.317757,16.9052148 20.4565451,17.1242669 20.8232514,17.1242669 Z M8.26439994,32.7771996 C8.26439994,32.9512792 8.19913987,33.1059697 8.07441037,33.2260796 C7.9520466,33.3439114 7.7988262,33.4051995 7.62799997,33.4051995 C7.455898,33.4051995 7.30254826,33.3429012 7.1824233,33.2227763 C7.06229833,33.1026513 7,32.9493015 7,32.7771996 L7,27.6364 C7,27.4655737 7.06128816,27.3123533 7.17911994,27.1899896 C7.29922983,27.0652601 7.45392036,27 7.62799997,27 L9.54319982,27 C10.113388,27 10.5870545,27.0977892 10.9628468,27.2982117 C11.3413976,27.5001055 11.6192415,27.7650265 11.7894039,28.0922617 C11.95367,28.4081582 12.0359997,28.7501428 12.0359997,29.1147999 C12.0359997,29.479457 11.95367,29.8214415 11.7894039,30.137338 C11.6192415,30.4645732 11.3413976,30.7294942 10.9628468,30.931388 C10.5870545,31.1318105 10.113388,31.2295997 9.54319982,31.2295997 L8.26439994,31.2295997 L8.26439994,32.7771996 Z M9.46759983,30.0071998 C9.98125621,30.0071998 10.3246827,29.9138643 10.5017955,29.747421 C10.6836539,29.5765179 10.7715997,29.3709579 10.7715997,29.1147999 C10.7715997,28.8586418 10.6836539,28.6530818 10.5017955,28.4821787 C10.3246827,28.3157354 9.98125621,28.2223999 9.46759983,28.2223999 L8.26439994,28.2223999 L8.26439994,30.0071998 L9.46759983,30.0071998 Z M13.6639996,33.3631996 C13.4918977,33.3631996 13.3385479,33.3009012 13.2184229,33.1807763 C13.098298,33.0606513 13.0359997,32.9073016 13.0359997,32.7351996 L13.0359997,27.6364 C13.0359997,27.4655737 13.0972878,27.3123533 13.2151196,27.1899896 C13.3352295,27.0652601 13.48992,27 13.6639996,27 L15.3523995,27 C16.0361322,27 16.6243671,27.1535187 17.1118464,27.4631754 C17.5948453,27.769986 17.9606266,28.1694375 18.2052061,28.6585965 C18.4464913,29.1411668 18.5675993,29.6498205 18.5675993,30.1815998 C18.5675993,30.7133791 18.4464913,31.2220327 18.2052061,31.7046031 C17.9606266,32.193762 17.5948453,32.5932136 17.1118464,32.9000242 C16.6243671,33.2096809 16.0361322,33.3631996 15.3523995,33.3631996 L13.6639996,33.3631996 Z M15.2599995,32.1491996 C15.6792158,32.1491996 16.0416086,32.0648929 16.3507573,31.8978529 C16.6572106,31.7322693 16.8918597,31.504953 17.0589386,31.212565 C17.2269757,30.9185 17.3115993,30.576272 17.3115993,30.1815998 C17.3115993,29.7869276 17.2269757,29.4446995 17.0589386,29.1506346 C16.8918597,28.8582465 16.6572106,28.6309303 16.3507573,28.4653466 C16.0416086,28.2983066 15.6792158,28.2139999 15.2599995,28.2139999 L14.3003996,28.2139999 L14.3003996,32.1491996 L15.2599995,32.1491996 Z M20.8319992,32.7771996 C20.8319992,32.9512792 20.7667391,33.1059697 20.6420096,33.2260796 C20.5196459,33.3439114 20.3664255,33.4051995 20.1955992,33.4051995 C20.0234973,33.4051995 19.8701475,33.3429012 19.7500226,33.2227763 C19.6298976,33.1026513 19.5675993,32.9493015 19.5675993,32.7771996 L19.5675993,27.6364 C19.5675993,27.4655737 19.6288874,27.3123533 19.7467192,27.1899896 C19.8668291,27.0652601 20.0215196,27 20.1955992,27 L23.463199,27 C23.6299702,27 23.7790511,27.0610988 23.8961757,27.1782233 C24.0133002,27.2953478 24.074399,27.4444288 24.074399,27.6112 C24.074399,27.7793561 24.0121779,27.9286866 23.8925319,28.0435468 C23.7754705,28.1559257 23.6278652,28.2139999 23.463199,28.2139999 L20.8319992,28.2139999 L20.8319992,29.5703998 L23.169199,29.5703998 C23.3359702,29.5703998 23.4850511,29.6314986 23.6021757,29.7486231 C23.7193002,29.8657476 23.780399,30.0148286 23.780399,30.1815998 C23.780399,30.349756 23.718178,30.4990864 23.5985319,30.6139466 C23.4814706,30.7263255 23.3338652,30.7843997 23.169199,30.7843997 L20.8319992,30.7843997 L20.8319992,32.7771996 Z" id="Combined-Shape-Copy-2">

                        </path>
                      </svg>
                    </div>
                    <div class="pdf-text">
                      <div class="pdf-text-content">
                        {{pdf.text}}
                      </div>
                    </div>
                  </a>
                </div>
              </template>
            </div>
            <p>За цензурирование просим прощения, но это сделано для защиты интересов ребенка. Подлинность справок легко проверяется по номерам и датам.</p>
            <p>PS Если кто то узнал Максима, просим проявить уважение к частной жизни и не оглашать его личные данные. Спасибо за понимание.</p>



          </div>
        </div>
      </div>
    </section>
</div>
</template>

<script>
  export default {
    data() {
      return {
        pdfs: [
          {id:1, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Выписка из истории разв реб Максим 2021 .pdf', text: 'Выписка из истории развития ребенка.pdf'},
          {id:2, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Заключение невролога Максим 2021.pdf', text: 'Заключение невролога.pdf'},
          {id:3, href: 'https://netakiedeti.ru/assets/DocumentingDisease/ПМПК Максим 2021.pdf', text: 'ПМПК Максим 2021.pdf'},
          {id:4, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Представ соц педагога Максим 2021.pdf', text: 'Представ соц педагога.pdf'},
          {id:5, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Представление педагога Максим 2021.pdf', text: 'Представление педагога.pdf'},
          {id:6, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Психол-пед характеристика Максим 2021.pdf', text: 'Психолого-педагогическая характеристика.pdf'},
          {id:7, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Справка об инвалидности Максим 2021.pdf', text: 'Справка об инвалидности.pdf'},
          {id:8, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Характеристика логопеда Максим 2021.pdf', text: 'Характеристика логопеда.pdf'},
          {id:9, href: 'https://netakiedeti.ru/assets/DocumentingDisease/Психолого-пед характеристика Максим 2021.pdf', text: 'Психолого-пед характеристика Максим 2021.pdf'},
          {id:10, href: 'https://netakiedeti.ru/assets/DocumentingDisease/ИПР Максим 2021.pdf', text: 'ИПР Максим 2021.pdf'},
        ],


      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.DocumentingDisease {
  margin: 2% 0;
  padding: 0% 5%;
  overflow: hidden;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  &-wrapper {
  }
  &-el {
    // font-family: Cambria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // background-color: greenyellow;
    width: 100%;
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #660099;
    }
    &__content {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 2%;
      text-align: justify;
      text-indent: 25px;
      // background-color: gold;
    }
  }
}
.pdf {
  &-wrapper {
    margin: 5% 0;
    width: 100%;
  }
  &-component {
    padding: 3% 1% 3% 1%;

  }
  &-blockLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-indent: 0px;
    width: 100%;
    text-decoration: none;
    color: #fa7743;
    // background-color: lime;
  }
  &-icon {
    color: #660099;

  }
  &-text {
    width: 100%;
    padding-left: 2%;


  }

}


</style>
