<template>
  <header class="GeneralHeader noSelection">
    <div 
      :class="{
              'container fixed': this.selectionmenu, 
              'container': !this.selectionmenu, 
              }"
>
      <div class="GeneralHeader-logo">
        <div class="GeneralHeader-logo__img">
          <img src="@/img/logo/logoNTD.png" alt="Логотип сайта">
        </div>
      </div>
      <div class="GeneralHeader-menu" >
        <template v-for="name in names" :key="name.id">
          <div 
            class="GeneralHeader-menu-el FontStyleLobster"
            :class="{
              'active': this.selectionpage == name.id, 
            }"
            @click="$emit('pageSwitching', name), selectionChange(name, $event)">
            <div class="GeneralHeader-menu-el__text GeneralHeader-menu-el__top"> {{ name.top }} </div>
            <div class="GeneralHeader-menu-el__text GeneralHeader-menu-el__bottom"> {{ name.bottom }} </div>
          </div>
        </template>
      </div>
      <div 
        :class="{
                'GeneralHeader-menu-mobile FontStyleLobster GeneralHeader-menu-mobile__animation': this.selectionmenu,
                'GeneralHeader-menu-mobile FontStyleLobster': !this.selectionmenu, 
                }"
      >
        <template v-for="name in names" :key="name.id">
          <div 
            class="mobile-el FontStyleLobster"
            @click="selectionMenu(), $emit('pageSwitching', name), selectionChange(name, $event)">
            <div class="mobile-el__text mobile-menu-el__top"> {{ name.top }} &nbsp;</div>
            <div class="mobile-el__text mobile-el__bottom"> {{ name.bottom }} </div>
          </div>
        </template>
      </div>
      <div 
        class="GeneralHeader-menu-management"
        @click="selectionMenu()"
        >
        <div
          :class="{
                'GeneralHeader-menu-management__top_animation': this.selectionmenu, 
                'GeneralHeader-menu-management__top': !this.selectionmenu, 
                }"
        >
        </div>
        <div
          :class="{
                'GeneralHeader-menu-management__middle_animation': this.selectionmenu,
                'GeneralHeader-menu-management__middle': !this.selectionmenu, 
                }"
        >
        </div>
        <div
          :class="{
                'GeneralHeader-menu-management__bottom_animation': this.selectionmenu,
                'GeneralHeader-menu-management__bottom': !this.selectionmenu, 
                }"

        >
        </div>
      </div>

    </div>
  </header>
</template>

<script>
  export default {
    data() {
      return {
        names: [
          {id:1, top: `История `, bottom: `Максима`},
          {id:2, top: 'Подробнее ', bottom: `о РАС`},
          {id:3, top: 'Документирование ', bottom: `болезни`},
          {id:4, top: 'О нас', bottom: ``},
          {id:5, top: 'Помочь ', bottom: `Максиму`},
        ],
        selectionpage: 1,
        selectionmenu: false,

      }
    },
    methods: {
      selectionChange(name, event) {
        this.selectionpage = name.id;
        if (event.target.classList.contane('FontStyleLobster')) {
          event.target.classList.add('active')
        } else {
          event.target.parentNode.classList.add('active')
        }
      },
      selectionMenu() {
        this.selectionmenu=!this.selectionmenu;
      },
    }
  }

</script>

<style scoped lang="scss">
.GeneralHeader {
  width: 100vw;
  min-height: 50px;
  position: relative;
  background-color: white;
  // padding-top: 2%;
  // overflow: hidden;
  position: relative;

  & .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    overflow: visible;

    @media (max-width: 899px) {
      justify-content: space-between;
      height: 50px;
    }
  }
  & .fixed {
    position: fixed;
    z-index: 10;
    background-color: white;
  }

  &-logo {
    // background-color: indigo;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 899px) {
      width: 200px;
    }

    & img {
      width: 100%;
    }
  }
  &-menu {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: violet;
    z-index: 1;
    @media (max-width: 899px) {
      display: none;
    }

    &-el {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      color: #ffa07a;

      &:hover {
        transform: scale(1.2)
      }
      // &:nth-child(2n+1) {
        // color: #ffa07a;
      //   color: #f95e20;

      // }
      // &:nth-child(2n) {
      //   color: #f95e20;
      //   color: #ffa07a;
      //   // color: lime;
      //   // border-left: Lime 2px solid;
      // }
      // & .active {
      //   color: #f95e20;
      //   color: #3745e0;

      // }
      &:nth-child(4) {
        white-space: nowrap;  
      }
      &__text {
      font-size: 20px;
      text-align: center;
      }

    }
  }
}

.GeneralHeader-menu-mobile {
  @media (min-width: 900px) {
    display: none;
  }
  position: fixed;
  padding: 20px;
  text-align: center;
  left: -150%;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: #ffa07aeb;
  z-index: 10;
  transition: 0.5s ease;
  // text-shadow: white 1px 1px 1px, white -1px -1px 1px;
  &__animation {
    left: 0%;
  }
  &:first-child {
        margin-top: 0px;  
      }

  & .mobile-el {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #660099;
    margin-top: 15px;  


    &:hover {
      transform: scale(1.2)
    }
    &:nth-child(4) {
      white-space: nowrap;  
    }
    &__text {
      display: inline-block;
    font-size: 20px;
    }
  }

}
.GeneralHeader-menu-management {
  @media (min-width: 900px) {
    display: none;
  }
  margin: 10px;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  & div {
    transition: ease 0.3s;

    position: absolute;
    width: 100%;
    height: 2px;
    background-color: gray;
  }
  &__top {
    left: 0;
    top: 0;
    &_animation {
      top: 50%;

      rotate: 45deg;
    }
  }
  &__middle {
    left: 0;
    top: 50%;

    &_animation {
      opacity: 0;
    }

  }
  &__bottom {
    left: 0;
    top: 100%;
    &_animation {
      top: 50%;
      rotate: -45deg;

    }

  }
}
.active {
  color: #f95e20;
}


</style>
