<template>
  <footer class="GeneralFooter noSelection">
    <div class="container">
      <div class="GeneralFooter-menu">
        <div class="GeneralFooter-menu-el noStyleLink" v-for="link in links" :key="link.id">
          <a v-bind:href="link.href" target="_blank" rel="nofollow noopener noreferrer" class="el-link">
            <div class="el-link__icon">
            </div>
            <div class="el-link__text">{{ link.text }}
            </div>
          </a>
        </div>
      </div>
      <div class="GeneralFooter-logo">
        <div class="GeneralFooter-logo__img">
          <img src="@/img/logo/logo.png" alt="Логотип сайта">
        </div>
      </div>

    </div>
  </footer>
</template>

<script>
  export default {
    data() {
      return {
        links: [
          {id:1, href: 'https://t.me/netakiedeti',  text: 'Telegram'},
          {id:2, href: 'https://vk.com/public217251847',  text: 'ВКонтакте'},
          {id:3, href: 'https://pikabu.ru/@netakiedeti',  text: 'Пикабу'},
          {id:4, href: 'https://dzen.ru/netakiedeti.ru',  text: 'ЯДзен'},
          {id:5, href: 'https://netakiedeti.livejournal.com/',  text: 'ЖивойЖурнал'},
        ]

      }
    },
    methods: {

    }
  }


</script>

<style scoped lang="scss">
.GeneralFooter {
  width: 100vw;
  position: relative;
  background-color: white;
  margin-top: 2%;
  // padding-top: 2%;
  // overflow: hidden;
  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1%;

  }
  &-logo {
    // background-color: indigo;
    width: 10%;
    // padding: 2% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
      z-index: 1;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-menu {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: violet;
    z-index: 1;
    @media (max-width: 666px) {
      width: 100%;
      flex-direction: column;
    }

    &-el {
      @media (max-width: 666px) {
        margin: 1% 0;
      }
      // background-color: lime;
      &:nth-child(1)  .el-link__icon {
        background-image: url(@/img/icons/TG.png);
      }
      &:nth-child(2)  .el-link__icon {
        background-image: url(@/img/icons/VK.png);
      }
      &:nth-child(3)  .el-link__icon {
        background-image: url(@/img/icons/PK.png);
      }
      &:nth-child(4)  .el-link__icon {
        background-image: url(@/img/icons/YD.png);
      }
      &:nth-child(5)  .el-link__icon {
        background-image: url(@/img/icons/LJ.png);
      }


      & .el-link {
        // width: 18%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // background-color: gold;
        &__icon {
          width: 30px;
          height: 30px;
          // background-color: blue;
          // background-color: greenyellow;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          // border-radius: 5px;
          overflow: hidden;
        }
        &__text {
          margin-left: 5%;
        font-size: 12px;
        text-align: contain;
        }
      }
    }
  }
}


</style>
