<template>
  <div class ="container">
    <section class="HelpMaxim noSelection">
      <div class="HelpMaxim-wrapper">
        <div class="HelpMaxim-el">
          <div class="HelpMaxim-el__header FontStyleLobster">
            <h2>Любой человек может помочь Максиму.</h2>
          </div>
          <div class="HelpMaxim-el__content">
            <p>Поскольку Максиму требуется почти круглосуточный уход, финансовое обеспечение семьи ложится на плечи одного родителя, что сказывается на количестве зарабатываемых денег. Самый быстрый и простой способ – перечисление небольшой суммы (чашка вашего кофе), по форме ниже.</p>
            <br/>
            <p>Мы (и родители и Максим) благодарны Вам даже за само желание помочь чужим людям.</p>
            <br/>
            <div class="services-pay">
              <div class="services-pay-content">
                <div class="services-pay-content__img">
                  <img  src="@/img/other/umany.png" alt="Лого Юмани"/>
                </div>
                <div class="services-pay-content__text"> Оплатить через кошелек ЮMoney</div>
                <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                  <input type="hidden" name="paymentType" value="PC" >
                  <input type="hidden" name="receiver" value="4100118035814326">
                  <input type="hidden" name="label" value="$order_id">
                  <input type="hidden" name="quickpay-form" value="donate">
                  <input type="hidden" name="targets" value="транзакция {order_id} Оплата доступа к скачиванию файлов">
                  <div class="services-pay__icon services-pay__icon_rub">
                    <input class="services-pay__input" name="sum" placeholder="0" data-type="number">
                  </div>
                  <input type="hidden" name="need-fio" value="true">
                  <input type="hidden" name="need-email" value="false">
                  <input type="hidden" name="need-phone" value="false">
                  <input type="hidden" name="need-address" value="false">
                  <input type="hidden" name="successURL" value="https://netakiedeti.ru">
                  <input type="hidden" name="referer" value="http://localhost:3002/">
                  <input class="services-pay__button" type="submit" value="ПОМОЧЬ МАКСИМУ">
                </form>
                
              </div>
              <div class="services-pay-content">
                <div class="services-pay-content__img">
                  <img class="services-pay-content__img" src="@/img/other/BC.png" alt="Лого банковских платежных систем"/>
                </div>
                <div class="services-pay-content__text"> Оплатить с помощью банковской карты</div>
                <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                  <input type="hidden" name="paymentType" value="AC" >
                  <input type="hidden" name="receiver" value="4100118035814326">
                  <input type="hidden" name="label" value="$order_id">
                  <input type="hidden" name="quickpay-form" value="donate">
                  <input type="hidden" name="targets" value="транзакция {order_id} Оплата доступа к скачиванию файлов">
                  <div class="services-pay__icon services-pay__icon_rub">
                    <input class="services-pay__input" name="sum" placeholder="0" data-type="number">
                  </div>
                  <input type="hidden" name="need-fio" value="true">
                  <input type="hidden" name="need-email" value="false">
                  <input type="hidden" name="need-phone" value="false">
                  <input type="hidden" name="need-address" value="false">
                  <input type="hidden" name="successURL" value="https://netakiedeti.ru">
                  <input class="services-pay__button" type="submit" value="ПОМОЧЬ МАКСИМУ">
                </form>
              </div>
            </div>
            <br/>
            <p>Если опасаетесь, то необязательно указывать ФИО, просто проассоциируйте платеж с собой, что бы наша благодарность дошла до вас.
            </p>

            <br/>
            <p>При желании поддержать Максима не финансово, (например вы специалист-дефектолог) то с нами можно связаться через 
              <a href="https://t.me/netakiedeti" target="_blank" rel="nofollow noopener noreferrer" class="el-link">Telegram.</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.HelpMaxim {
  margin: 2% 0;
  padding: 0% 5%;
  overflow: hidden;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  &-wrapper {
  }
  &-el {
    // font-family: Cambria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // background-color: greenyellow;
    width: 100%;
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #660099;
    }
    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 2%;
      text-align: justify;
      & a {
        display: inline;
        text-decoration: none;
      }
    }
  }
}
.services-pay {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 767px) {
    flex-direction: column;
    max-width: 400px;
    margin: 0% 0;


  }

  &-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n) {
      @media (max-width: 767px) {
      margin-top: 15%;
    }
    }

    @media (max-width: 767px) {
      width: 90%;
    }

    &__img {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &__text {
      font-size: 20px;
      text-align: center;
      margin: 2% 0;
    }
    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #faa98a;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    &::placeholder {
      color: #212529;
      opacity: 0.4;
    }
    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #fa7743;
      outline: 0;
      box-shadow: 0 0 0 0.2rem #fa7743;
    }
    &::before {
      content: '@';
      width: 20px;
      height: 20px;
    }
  }
  &__button {
    position: relative;
    margin-top: 10%;
    padding: 2% 5%;
    border: #660099 solid 2px;
    border-radius: 15px;
    display: inline-block;
    color: #660099;
    background-color: #FFA07A;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#faa98a, #FFA07A 48%, #f78659 52%, #fa7743);
    &:active {
      top: .1em;
      left: .1em;
      box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
    }
  }
  &__icon {
    position: relative;
    &::after {
      content: '';
      color: #bdbdbd;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;
      right: 0.625rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &_rub::after{
      content: '₽';
    }
  }
}
</style>
