<template>
  <div class ="container">
    <section class="HistoryMaksim">

      <div class="HistoryMaksim-sort FontStyleLobster noSelection">
        
        <div class="HistoryMaksim-sort__button" v-if="this.switch" @click="offSwitch">НОВЫЕ НАВЕРХ</div>
        <div class="HistoryMaksim-sort__button" v-else @click="onSwitch">ХОЧУ СНАЧАЛА СТАРЫЕ</div>
      </div>
      <div
        class="HistoryMaksim-wrapper"
        :class="{
          'HistoryMaksim-wrapper__column': this.switch === 1,
          'HistoryMaksim-wrapper__columnreverse': this.switch === 0,
        }">
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">19.11.2022</div>
            <h2>Фальстарт</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Осень только начиналась, мой ребенок был со мной пуповиной связан уже шесть месяцев. Еще три и я буду свободна как птица. Вот только токсикация надоела, да и давит что то сегодня. Ну ничего, погода хорошая, схожу на очередной прием к своему акушеру, а потом и полежу. Вообще беременность была плановая, с витаминками и правильным питанием. Даже мужа я вроде только один раз просила ночью за апельсинами сходить. </p>
            <p>До акушера я дошла сама, но, видимо, солнышко сегодня палило нещадно, потому ожидание десяти минут перед приемом, в прохладном коридоре, помогло успокоить разошедшийся пульс.</p>
            <p>Начался прием со стандартного опроса и замера давления. Тут акушер забеспокоилась и перемерив давление на другой руке попросила помощницу вызвать скорую, чем изрядно меня напугала. Уложив меня на кушетку, она принялась что то объяснять, но резкая смена положения вызвала звон в ушах и я отключилась.</p>
            <p>Очнулась в скорой, доехали быстро, но утешения врача скорой, что все будет хорошо, не успокаивали. Встать мне не дали, так и покатили. Ладно хоть сумку не сразу забрали и я сообщила родным где я нахожусь.</p>
            <p>По результатам осмотра заподозрили гипоксию плода и начали готовить меня к экстренному кесареву. (Как позже объяснял врач, так бывает, если ребенок повернется неудачно и надавит на близкий внутренний орган. Скачки давления в этом случае могут не только гипоксию спровоцировать, но и выкидыши). Операция прошла штатно, ребенок (мальчик) был жив, но вес всего 959 грамм.</p>
            <p>Это было тяжело. Наркоз прошел быстро и сама я, держась за капельницу, могла по чуть-чуть ходить (до окна) почти сразу, но ребенка мне не давали увидеть никак. Только на третий день мне позволили спустится с сопровождающим и посмотреть как он лежит в специальном боксе для недоношенных.</p>
            <p>Даже не знаю, как описать мои ощущения. Вот он лежит, маленький, худенький, со всеми трубками и капельницами. Причем, его положение менялось изо дня в день, Чаще он лежал на животе, поджав под себя ручки и ножки, на каком то подобие подушечки, но иногда был и на спине. Видимо его специально переворачивали. Нас сразу попросили привезти несколько пеленок, упаковок салфеток, подгузники, и прочие мелочи. Все это хранилось рядом с инкубатором и использовалось по мере надобности. (Стандартная практика  - подавляющее большинство родителей привозят такие вещи с запасом и, забирая малыша, остатки оставляют, просто потому что не у всех там находящихся есть возможность приобретения качественных уходовых средств, которые и другим детям облегчат начало жизни и персоналу чуть-чуть снимут нагрузку.)</p>
            <p>Вот ведь. Понимаю, что описала примерно шесть часов своей жизни, а ощущения, как будто мне опять операцию сделали - тяжело вспоминать. С вашего разрешения я продолжу чуть позже. Извините.</p>
            <img src="@/img/foto/1110.jpg" alt="Максим в инкубаторе">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">21.11.2022</div>
            <h2>Первые проблемы</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Имя ребенку мы с мужем выбрали заранее, пол нам сообщили на прошлом УЗИ. Никому не посвященное, просто красивое имя мальчику, которое устроило обоих родителей - Максим. Врачи в детской реанимации у нас были хорошие, регулярные обследования и хорошее знание проблем, которые могут возникнуть у недоношенных позволили нам предотвратить крайне серьезные проблемы ребенку.</p>
            <p>Например, ретинопатия недоношенных — это тяжёлое заболевание глаз, при котором у недоношенных детей нарушается рост сосудов сетчатки. Чаще всего болезнь завершается самостоятельно, без критических изменений на глазном дне. Однако иногда ретинопатия приводит к отслойке сетчатки (из-за сильного натяжения), что в 4–10 % случаев может закончиться необратимой слепотой.</p> 
            <p>Именно в эти 10% и попал Максим, окулист у него обнаружил начавшееся отслоение сетчатки. К сожалению, в нашем небольшом городе не было необходимого оборудования и специалистов для спасения зрения. Срочная лазерная операция по прижиганию сетчатки помогла только замедлить процесс, подарив нам несколько недель отсрочки. Требовалось срочно везти ребенка в Санкт-Петербург, в специализированную клинику глазной хирургии.</p>
            <p>Эти несколько недель очень помогли Максиму, поскольку ему требовалось окрепнуть и набрать вес, научиться питаться самому, а не через зонд. Да и подготовка сопроводительных документов с анализами тоже требовало времени.</p>
            <p>Так что, спустя примерно месяц после рождения, ребенок в переноске отправился в свое первое большое путешествие. У нас как раз проходит через город скоростной поезд в Москву и дальше в Питер. Муж проводил до поезда, а дальше сама.</p>
            <p>Доехали за одну ночь, такси с вокзала до больницы - это отдельная тема, вель перевозка таких маленьких детей требует специальных люлек. Но справилась. По планам Максиму должны были прооперировать один глаз, затем мы едем домой, восстанавливаемся неделю-другую, и опять к ним на вторую операцию.  Но мы предполагаем, а Бог располагает. В общем вышло так: Понедельник - осмотр и анализы. Вторник - одна операция, Среда - вторая операция. Четверг - наблюдение. Пятница - наблюдение. В субботу - домой.</p>
            <p>Врачи пошли на риск с этими постоянными наркозами, потому что началось резкое прогрессирование болезни (может переезд сказался).</p>
            <p>Вообще с больницами до этого я сильно не сталкивалась, а тут была приятно удивлена качеством оказываемых услуг, особенно детям. И выхаживают таких крох, от которых 30 лет назад просто отказывались, и опрерируют на современном оборудовании, пусть и одно в стране, уникальное, но оно есть. Например, ради поездки на подобную операцию в Германии или во Франции нам бы пришлось залезть в большие долги, да и не уверена я, что мы смогли бы это организовать в приемлимые сроки.</p>
            <p>Ладно, расхвалила я тут отечественную медицину, но позже у меня появился и негативный опыт подобного сорта, но об этом я расскажу позже.</p>
            <p>Сейчас вернемся к зрению Максима. Оно сохранено. Он носит очки. На обоих глазах уже несколько лет стабильные -5. Тьфу-тьфу-тьфу. Тук-тук-тук по дереву. Ох, сколько он переломал очков, но это так, деньги можно заработать, а вот зрение сохранить - очень важно.</p>
            <p>Похоже, на сегодня мой запал иссяк. Берегите своих детей.</p>
            <img src="@/img/foto/1111.jpg" alt="Максим в очках">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">23.11.2022</div>
            <h2>Не первый, не последний</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Расскажу сейчас о Максиминых "коллегах по несчастью". Одновременно со мной в роддом поступила девушка Инга ( здесь и далее имена изменены). У Инги родилась дочка Анжела весом 886 грамм. Она меньше Максима!</p>
            <p>С глазками у малышки было все в порядке, но она решила вытянуть другой несчастливый билет недоношенных - Ателектаз легких.</p>
            <p>Ателектаз в дословном переводе означает «неполное расправление», то есть легочные альвеолы младенца не раскрываются и он утрачивает эффективность дыхания. Ателектаз легких у новорожденных входит в понятие «синдром дыхательных расстройств». Общая частота последнего составляет около 1% среди всех новорожденных, а у недоношенных детей с массой тела менее 2 500 г встречается в 14% случаев. Актуальность проблемы для современной педиатрии связана с большим количеством причин спадения легочной ткани в первый месяц жизни ребенка. Практически единственным способом терапии остается ИВЛ, которая часто проводится в течение длительного времени. Если ателектаз легких у новорожденных не купируется в течение нескольких дней, с большой долей вероятности присоединяется пневмония, что значительно ухудшает прогноз для жизни ребенка.</p>
            <p>Не беспокойтесь, сразу скажу, что Анжела оказалась стойким маленьким солдатиком, она справилась, и с Ингой мы поддерживали друг друга не только в роддоме, но и после него. Просто потому что так проще. У недоношенных детей много общих проблем и решать их сообща легче.</p>
            <p>Кстати, насчет ИВЛ, Практически все так рано рожденные дети проходят через него, что вызывает очередные проблемы. Насыщенный кислород и длительная искусственная вентиляция легких вызывает хроническое повреждение, называемое бронхолегочной дисплазией.</p>
            <p>Вы спросите, зачем в таком случае назначают ИВЛ? Да потому что иначе нельзя. Недоношенные дети активно растут и для этого им нужен кислород, много кислорода. Плюс, как правило, такие дети появляются на свет с гипоксией (как Максим), а это еще одна причина назначения ИВЛ.</p>
            <p>Мда, возможно это одна из причин легкой формы астмы у Максима и того, как запросто к нему липнут именно различные бронхо-легочные заболевания.</p>
            <p>Хм, сначала хотела рассказать вообще о другом случае, но вспомнила Ингу с Анжелой и не смогла остановиться.</p>
            <p>Читая моё прошлое воспоминание о поездке в Питер, вы, наверное, задавались вопросом, как муж меня одну отпустил в другой город в больницу? Он хотел поехать, но я его отговорила, дело в том, что я ехала не одна, вместе со мной отправились Настя с Олегом. Настя - миниатюрная хрупкая девушка, которая подарила своему мужу близнецов Олега и Романа. Вот у Олега то и обнаружились проблемы с хрусталиком глаза и они тоже ехали в ту же клинику, что и мы. Опять же взаимная поддержка помогла нам добраться до цели без больших проблем и приключений.</p>
            <p>С Настей мы тоже какое то время поддерживали контакт, а потом дети, работа и все затихло. Олегу грозило удаление хрусталика и в перспективе вроде вставка искусственного. Но, Настя (Имя изменено), если ты себя узнаешь в этой ситуации, пожалуйста сообщи как у вас дела, как близняшки?</p>
            <p>Поворошила память, распереживалась.</p>
            <img src="@/img/foto/1112.png" alt="Недоношенный ребенок в инкубаторе">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">25.11.2022</div>
            <h2>Вскармливание недоношенных.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Поскольку Максим родился с диагнозом ЭНМТ (экстремально низкая масса тела, от 999 грамм и ниже), то его питание представляло собой определенные трудности.</p>
            <p>Вначале был зонд и капельницы. Из-за малой массы тела Максим не мог сам ни нормально глотать ни всасывать. Каждому такому ребенку назначается индивидуальная диета в зависимости от веса, возраста, анализов и медицинских проблем.</p>
            <p>Мама может помочь своему малышу, сцеживая грудное молоко, но чем сильнее недоношенность у ребенка, тем меньше потребностей грудное молоко может покрыть, потому его «усиливают» специальными добавками.</p>
            <p>В моем случае молоко не появилось. То ли роды были очень ранние, толи стресс сказался. Но «раздоиться» молокоотсосом я так и не смогла. Спустя несколько дней, по рекомендации врачей, попытки прекратила. «Раз уж не запустилось сразу, то и нечего себя мучать».</p>
            <p>Меня выписали из больницы через неделю, а Максим там провел больше месяца. Набрав вес и научившись самостоятельно питаться он отправился домой. </p>
            <p>Дома ребенка мы кормили специальной смесью для недоношенных детей «Nutrilak». У таких смесей есть отличия в составе: там и повышенное содержание белка и другие виды жиров и повышенное содержание кальция, фосфора и магния. </p>
            <p>Кормили этой смесью до веса в 2,6 кг, потом начали смешивать ее с обычным детским питанием. Да, кстати, по понятным причинам смесь для недоношенных дороже обычного питания примерно в два раза. Окончательно она ушла из нашего рациона только в возрасте семи месяцев, поскольку Максиму требовалось хоть как то «догнать» своих сверстников по весу и росту.</p>
            <p>Как я уже говорила, диета малыша рассчитывается индивидуально не только в больнице, но и после выписки. Ваш основной врач – неонатолог. Они часто сталкиваются с недоношенностью и могут правильно скорректировать питание в зависимости от физической развитости ребенка и его возраста. Да, врачи различают биологический возраст (с рождения) и гестационный возраст (возраст эмбриона и плода с момента оплодотворения). Согласитесь, что в случае с Максимом разница три месяца – это существенно. Даже когда ребёнку исполнится год. </p>
            <p>Прикорм мы начали вводить Максиму очень постепенно в возрасте 6,5 месяцев. Сначала обычные кашки, потом пюрешки. Обязательно сдавайте анализы и консультируйтесь со своим педиатром по поводу железодефицитной анемии. Введение в рацион ребенка мясного пюре позволит избежать этой проблемы. (Особенно касается вегетарианцев). Детям требуется полноценное питание и регулярный осмотр. Основной ответственный за ребенка – родитель! Если ребенок перестал набирать вес -бейте тревогу! Если теряет вес – срочно к врачу! </p>
            <p>Ошибаются все. Типичный пример – одна из серий Доктора Хауса (знаю, что это художественный вымысел) К нему привели девочку на прием. Жалобы – недобор веса. Родители вегетарианцы, сказали Хаусу об этом и что безмясную диету для ребенка им рассчитал родственник. Хаус в своей высокомерно-снисходительной манере пожурил их и сказал, что ребенка просто надо нормально кормить.</p>
            <p>К следующему осмотру девочка вес даже потеряла. Хаус начал ругаться и выяснилось, что диету девочке рассчитывал вполне профессиональный диетолог, а девочка теряет вес не из-за неё, а из-за болезни.</p>
            <p>Так что обращайте внимания больше на своих детей.</p>
            <img src="@/img/foto/1113.png" alt="Максим кушает">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">27.11.2022</div>
            <h2>Максим и 20% статистики.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Вся эта серия историй не просто так носит название «Не всем везет». Вот и хирург при осмотре не удивился, обнаружив у моего сына паховую грыжу. Сказал, что это довольно распространенное явление, но и довольно легко устраняемое. Единственное, требуется операция с наркозом, и для этого Максиму опять же надо окрепнуть. </p>
            <img src="@/img/foto/1114(1).jpg" alt="Операция">
            <p>Паховая грыжа у детей — выход пристеночного листка брюшины и внутренних органов через паховый канал под кожу. Паховые грыжи встречаются примерно у 5% доношенных и 20% недоношенных детей. Как правило, в детском возрасте они врожденные. Причем среди мальчиков распространены в 4-7 раз чаще, чем среди девочек. </p>
            <p>У Максима была двухсторонняя паховая грыжа. В большинстве случаев наличие грыжи не приводит к большим проблемам. Проявляется грыжевое выпячивание в паховой области при натуживании, кашле, плаче ребенка и уменьшается или полностью исчезает в покое. Припухлость в паховой области безболезненна, имеет овальную или округлую форму. Но Максиму и здесь удалось отличиться. Однажды ночью он долго не мог заснуть и сильно плакал. Мы никак не могли понять в чем дело, пока не сняли подгузник. Большая твердая шишка в паху с правой стороны, размером с его кулачек являлась намеком на причину такого поведения. Как я поняла, это петля кишечника выпала под кожу, забилась каловыми массами и, потому, стала твердой. Я попыталась ее вправить, но у меня не получилось. Собралась звонить в скорую, но муж справился гораздо лучше. Он осторожно разминал петлю и постепенно заталкивал назад.  Оставшиеся сантиметры втянулись в живот как будто сами. Уже через несколько минут ребенок покакал, а затем счастливо заснул. С тех пор мы тщательно следили за грыжей и муж её вправлял сразу (я этому так и не научилась).</p>
            <p>На ближайшем посещении хирурга я рассказала об этом и он направил нас на операцию. </p>
            <p>В стационаре порядки знакомые, первый день – осмотр и сдача анализов, затем нас ставят в очередь и мы ждем, когда нас прооперируют. Вот только грыжа с этими порядками не знакома. Уже на второй день появилась петля, которую я не могла вправить. Это сейчас я понимаю, что в больнице, полной врачей я повела себя чуть странно. Я позвонила мужу и заставила его приехать, чтобы вправить грыжу. Муж особо спорить не стал, но приехав, просто сдал Максима со мной врачам. Те с грыжей справились быстро, при этом сказав, что это срочный случай и в очереди на операцию они нас подвинут. Так и случилось. Уже на следующий день у маленького Максима, который за свою жизнь пережил больше операций, чем я, одной проблемой стало меньше.</p>
            <p>Тут, наверное, должен быть какой то вывод из этого случая. Так вот: не зацикливайтесь на одном решении, зачастую достаточно остановиться и попробовать посмотреть на проблему трезво, отметая эмоции, и выход может быть совсем рядом, причем более выгодный для вас. </p>
            <img src="@/img/foto/1114.jpg" alt="Максим играет">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">29.11.2022</div>
            <h2>Хорьки и Максим</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>К моменту появления Максима на свет у нас было двое домашних животных – хорьки.</p>
            <p>Старшая - Черри, ей шел четвертый год. Она уже хорек в возрасте, любит активно поиграть, много спать и вкусно кушать.</p>
            <img src="@/img/foto/1115.jpg" alt="Хорек по имени Черри">
            <br/>
            <br/>
            <p>Младшая – Гайка, ей всего было два месяца, эдакая егоза, которой все надо, везде проверить, залезть и разворошить.</p>
            <img src="@/img/foto/1116.jpg" alt="Хорек по имени Гайка">
            <p>Как я уже говорила, Максим – ребенок запланированный, потому и хорьки - это осознанный выбор домашних животных. Нет, я не буду говорить, что хорьки гипоаллергенны, но реакция на их шерсть встречается гораздо реже, чем на шерсть кошек или собак. Это был основной критерий при заведении домашних любимцев.</p>
            <p>Однако, если вы меня сейчас спросите, то я скажу, что хорьки и дети до 2-ух лет сочетаются плохо. </p>
            <p>Все дело в игрушках. Современные игрушки для малышей часто встречают в своем составе резину и мягкие пластики. Хорьки тоже считают, что в их организме не хватает резины и мягких пластиков, потому активно грызут такие игрушки. Держать игрушки в доступе ребенка, но в недоступности хорьков – сизифов труд. Потому, если вы задумали заводить домашнее животное в доме с маленькими детьми, учтите этот момент.</p>
            <p>Вы можете сказать, что мне игрушек для хорьков жалко стало? Значит вы не разбираетесь в хорьках. Частой причиной болезни (и даже гибели) хорьков является закупорка кишечника. То есть хорек грызет резину, проглатывает кусочек, а переварить не может. Этот кусочек приводит к закупорке кишечника и без хирургического вмешательства хорек погибает в течение 1-2 дней. </p>
            <p>Надеюсь, теперь понятно, почему такое сочетание детей и хорьков – плохо.</p>
            <p>От ветеринарии вернемся к Максиму. В первый же день приезда домой хорьки были с Максимом познакомлены. То есть мы их подносили к Максиму посмотреть и понюхать. Вроде бы никаких проблем. Ребенок в высокой кроватке, хорьки на полу. Ну-да, ну-да… Мы без приключений не можем. </p>
            <p>Как только Максим научился переворачиваться, кроватку мы опустили. Подросшая Гайка (6 мес) поняла, что теперь к этому пищащему и пахнущему молоком ребенку у неё есть доступ.</p>
            <p>Я была на кухне, когда услышала крик ребенка (он был не обычный - зовущий, а в нем явно были боль, страх и паника). Как была с полотенцем, я побежала в комнату, а там Гайка вцепилась зубами в ножку Максима и пытается утащить. Повезло ей, что у меня полотенце в руках было, а не поварешка тяжелая или нож. Раза четыре или пять я по ней попала, пока она не успела спрятаться под диван. </p>
            <p>Кожу Максиму прокусила до крови, но больше ничего серьезного. Уж не знаю, что её сподвигло на такое. Может ребенок казался ей подходящей добычей, может наоборот она его пыталась перепрятать, как щенка, туда, где безопаснее.</p>
            <p>Вообще агрессию и кусачесть хорькам убирают в первые месяцы жизни. Каждый акт агрессии или попытка укусить должны сопровождаться сразу же негативным воздействием на хорька. Например, брызганье водой, щелчки по носу, ответное прикусывание, каждый выбирает вариант наиболее подходящий ему. Потому подобное поведение Гайки было явно нетипичным. Однако попыток повторить подобное не было, видимо полотенце оказалось достаточно доходчивым. В дальнейшем они и играли и росли вместе. </p>
            <img src="@/img/foto/1117.jpg" alt="Хорек по имени Кабан">
            <p>Будьте внимательнее с маленькими детьми и домашними животными. Мы (люди) никогда не можем знать до конца, что на уме у наших питомцев. </p>
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">01.12.2022</div>
            <h2>Молодым родителям посвящается.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Затрону сегодня несколько общих проблем со здоровыми доношенными детьми. Первое – колики. Очень острая проблема для недоношенных, так как в силу раннего рождения ЖКТ у них формируется с отставанием. Да еще у меня не появилось молоко и Максим был на 100% искусственном вскармливании. </p>
            <img src="@/img/foto/1118.jpg" alt="Максим кушает с бутылки">
            <br/>
            <br/>
            <p>Вам может быть удивительно, но до сих пор не выяснена точная причина колик и того как с ними бороться. Кто то утверждает, что это перильстатика кишечника учиться работать, что вызывает болезненные спазмы. Кто то спорит, что дело в бактериях, которые формируют новую микрофлору. Даже диагностируют колики весьма неоднозначно. Цитата из справочника: «Колики — это приступы плача у здорового ребёнка, длящиеся более 3 часов подряд, более 3 дней в неделю, любую из последних 3 недель». </p>
            <p>В общем очень быстро эта проблема встала в полный рост и не давала нам спать ночами. Именно в этот период молодые родители проходят «закалку». Именно в этот период часто распадаются семьи и именно в этот период наваливается послеродовая депрессия во всей красе. Я вас обнадежу: колики – временное явление.  У кого то раньше, у кого то позже, но они проходят. Почитайте в интернете (все равно же не спите ) как помочь ребенку. Кому то становится легче от поглаживаний животика, кому то от укачиваний. Если вы достаточно простимулированы недосыпом, то быстро научитесь правильно прикладывать ребенка к груди, использовать специальные соски для кормления и «ставить ребенка столбиком» после сытного обеда. Все это снижает заглатывание воздуха ребенком и тоже может влиять на частоту и количество коликов. Из лекарственных средств кому то помогают пробиотики, а кому то препараты на основе симетикона (например, мы использовали Боботик, вроде польский препарат, хотя сейчас полно дженериков).</p>
            <p>Некоторым малышам при очень острых приступах колик может помочь и газоотводная трубка, микроклизма или свечи с глицерином. Но обязательно читайте инструкцию и используйте медицинские средства, подходящие возрасту ребенка. </p>
            <p>Природа жестока. Я не знаю, чем вызван такой её выбор, но и колики и рост зубов ребенку лучше переживать в утробе, потому что нервы у родителей не железные. </p>
            <p>Да, следующие на очереди – зубки. Наконец то я начну хвалиться. Вроде впервые за серию рассказов. Здесь у нас все было как у большинства детей. Максим к прорезыванию зубов уже подрос и мы их перенесли достаточно спокойно. Даже не применяли успокаивающие гели и вроде не повышалась температура. Ура! </p>
            <img src="@/img/foto/1119.jpg" alt="Счастливая семья">

            <p>К чему я все это рассказываю, уважаемые молодые родители, будьте внимательны друг к другу. Да, рождение ребенка это СОБЫТИЕ, но это не причина отдавать ему все свое внимание. Ваша вторая половинка тоже устает, помните об этом.</p>
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">03.12.2022</div>
            <h2>Казнить нельзя помиловать. Где поставить запятую?</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Тут в моих постах (да и раньше я с таким сталкивалась) идет обсуждение «Надо ли оставлять жить детей рожденных с различными аномалиями здоровья или надо как в Спарте, со скалы сбрасывать».  </p>
            <img src="@/img/foto/1120.jpg" alt="Скриншот комментария">
            <br/>
            <br/>
            <p>Хотела бы высказаться один раз и больше к этой теме не возвращаться. Жить достойны все! Хромые, больные, сирые и убогие. Противники этого могут высказать свое мнение, могут не тратить на таких людей свои ресурсы, но не нойте, если однажды вам самим понадобится помощь, а оказать её в вашем черством мирке обитания будет некому.</p>
            <br/>

            <p><i>Вы предлагаете всех неизлечимых больных приговаривать к смерти с рождения?</i></p>
            <br/>

            <p>Подумайте о том, что медицина не стоит на месте (в том числе из-за таких больных), возможно в будущем такие болезни будут поддаваться лечению.</p>
            <br/>

            <p><i>Вы боитесь, что люди, рожденные недоношенными начнут портить генофонд человечества?</i></p>
            <br/>

            <p>Не забывайте, что генная инженерия – одно из перспективнейших направлений развития науки и в будущем детям, возможно, будут искусственно чистить ДНК, ведь здоровая нация – это прибыль государства. </p>
            <br/>

            <p><i>Вы расстраиваетесь, что ваши налоги идут на содержание инвалидов и выплату разных пособий?</i></p>
            <br/>

            <p>Видимо, вы молоды, здоровы и болели только легкой простудой. Поблагодарите судьбу, что вы не инвалид и не родственник такого человека. Пособия в РФ крайне низки и не идут ни в какое сравнение с ресурсами, которые тратят родственники инвалидов на обеспечение им приемлимого образа жизни. Кстати, ради этих пособий надо пройти семь кругов бюрократического ада. Так что не все нуждающиеся до них доходят.</p>
            <br/>

            <p><i>Вас раздражают льготы инвалидов (парковочные места, транспорт и прочее)?</i></p>
            <br/>

            <p>У нас социально ориентированное государство (по заявлениям правительства) и такие льготы – хорошее продвижение такой повестки, причем, зачастую, бесплатное для государства. Не надо свое раздражение срывать на тех, кто заведомо слабее вас. Вон, с государством пободайтесь.</p>
            <img src="@/img/foto/1121.jpg" alt="Человек против государства">
            <br/>
            <br/>

            <p>Социальность – это вообще одна из ключевых эволюционных особенностей людей. Сообща и мамонта завалить можно и от клыкастого хищника отбиться.</p>
            <img src="@/img/foto/1122.jpg" alt="Страшный хищник">
            <p>Да, раньше, когда у человечества было сильно меньше ресурсов и каждый неработающий, но голодный рот требовал увеличения усилий от остальных подобная мораль могла быть оправдана, но не сейчас, когда еженедельно уничтожаются тысячи тонн просроченной еды (привет Европа). Когда одежду уничтожают бульдозерами (привет Африка), а в мире существуют абсолютно новые города не заселенные и наполовину (привет Китай).</p>
            <p>Пора уже перерасти эти пережитки прошлого и двигаться дальше. Кстати, пока писала, подумала, что с точки зрения большинства животных надо все человечество со скалы отправить. Ведь, по их мнению, мы рождаемся очень неполноценными. Без зубов и когтей. Даже ходить можем только через 10-12 месzwtd после рождения. Задумайтесь и об этом тоже.</p>

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">05.12.2022</div>
            <h2>Не доводите до психоза.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1123.jpg" alt="Импровизируй адаптируйся преодолевай Беар Гриллз">
            <br/>
            <br/>
            <p>Мда, это, наверное, лучшая инструкция к действию не только выживальщикам из джунглей, но и для молодых мам. Пока нить рассказа не ушла далеко от родов Максима, расскажу как справлялась с послеродовой депрессией.</p>
            <p>Учитывая обстоятельства появления ребенка (недоношенность, долгое нахождение в больнице, постоянные проблемы со здоровьем), мой способ окажется применим не ко всем, хотя, я могу поделиться и тем, как планировала свою жизнь при нормальном рождении. Да, пожалуй, так и поступлю.</p>
            <p>К рождению ребенка надо готовиться не только материально (кроватки, пеленки, памперсы), но и психологически. У вас поменяется все!</p>
            <img src="@/img/foto/1124.jpg" alt="Послеродовая депрессия">
            <br/>
            <br/>
            <p>Планы: Быт усложнится. Мы будем тратить много времени на кормление и уход за ребенком. Соответственно, меньше времени останется на отдых и восстановление. Эту проблему можно решать по разному, но мы с мужем договорились, что он мне помогает с ребенком вечерами, плюс каждый выходной у меня есть три часа ТОЛЬКО МОЕГО времени. То есть в субботу и воскресенье я три часа трачу на себя, как хочу. Зато муж высыпается ночами и работает днем. </p>
            <br/>

            <p>Реальность:  К примерно такому графику мы пришли только спустя три месяца после рождения Максима. Когда решились экстренные вопросы с его здоровьем (перевод из больницы домой, поездка на операцию в Питер) и мы оба научились ухаживать за ним. </p>
            <br/>

            <p>Планы: Из-за резкой гормональной перестройки организма у меня могут быть скачки настроения, проявиться нервозность и сварливость, общая эмоциональная неустойчивость. Муж заранее прощает мне все эти моменты и старается не обращать на них внимания.</p>
            <br/>

            <p>Реальность: Нам было как то не до того, общая беда объединяет. Я сейчас не могу припомнить ни одной значительной ссоры того времени. </p>
            <br/>

            <p>Планы: Секс. Почему то многие не учитывают, что и сексуальная жизнь у них поменяется. Опять же постоянная усталость не только загоняет в депрессию, но и снижает либидо. Это, не говоря уже о восстановительном периоде у женщин. В, общем, сошлись на том, что прервемся на месяц-два, а потом будем наверстывать упущенное.</p>
            <br/>

            <p>Реальность: Все плохо. Сил нет. Желания нет. Ребенок перетягивает на себя внимание. Однокомнатная квартира не способствует интиму. Копится негатив и иногда прорывается. Общий срок воздержания год. В итоге: поговорили и начали возвращать сексуальную жизнь в нормальное русло. Не делайте так. Помните, что секс – это одна из основ брака. А его отсутствие – это одна из причин распада брака в первый год рождения ребенка.</p>
            <br/>

            <p>Планы: Торжественное возвращение роженицы с ребенком домой, небольшой обед для близких, пока родители показывают как правильно ухаживать за малышом. </p>
            <br/>

            <p>Реальность: Через неделю после кесарева вернулась домой одна, ребенок в реанимации. Впереди месяц нервных ожиданий, перешедших под конец в «А может не надо его забирать? Как я с ним управлюсь? А там он под присмотром постоянным. А вдруг что случиться?». Пришлось реализовать другой план, и идти к психологу, которого подобрала заранее для решения проблем с возможной послеродовой депрессией. Два часа у психолога помогли понять, что я в принципе действовала пока правильно, значит и с дальнейшим могу справиться. Вообще этот месяц ожиданий был тяжелым. Ежедневные поездки к Максиму. Страх плохих новостей от врачей. Мы даже, по настоянию родственников, крестили ребенка в больнице. Эффекта не заметили, но пусть будет.</p>
            <img src="@/img/foto/1125.jpg" alt="Разговор с психологом">
            <br/>
            <br/>
            <p>Выводы: как ни планируй свою жизнь, ко всему не подготовишься. Но, все-таки, такая подготовка обеспечивает определенный уровень уверенности. Плюс, дает начальный опыт, который может позволить распознать проблему заранее, как у меня с психологом. Я в свое время начиталась, как послеродовая депрессия переходит в психоз и меня это немножко напугало. Так что рассчитывайте на лучшее, но готовьтесь к худшему. </p>


          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">07.12.2022</div>
            <h2>Рожать, не рожать, еще подождать?</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1126.jpg" alt="Гадание на ромашке">
            <br/>
            <br/>
            <p>Я долгое время считала себя «старородящей» женщиной, полезла тут смотреть классификацию и, оказывается, мои 31 год вполне нормальны в современности, а «поздним материнством» считаются первые роды после 35 лет. Так что не надо на меня спихивать вину за «недоношенность Максима».</p>
            <p>Статистика нам говорит, что во всех странах с европейской культурой растет средний возраст первого рождения ребенка. </p>
            <img src="@/img/foto/1127.jpg" alt="Статистика по возрасту женщины с первыми родами">
            <br/>
            <br/>
            <p>В РФ он тоже перевалил отметку в 26 лет.</p>
            <p>Все больше девушек предпочитают получить образование, обеспечить себе финансовую независимость, построить карьеру, а не возиться с подгузниками, какашками и растяжками.</p>
            <p>Я их прекрасно понимаю, потому что сама такая была. Вроде бы самое сильное влияние на перемену мировоззрения оказал случай с дальней родственницей моего дяди. У нее тоже не было детей (истинных причин не знаю, может и не желание, а здоровье тут подвело), она прожила хорошую насыщенную долгую жизнь, смогла заработать себе и на квартиру, и на старость, пока являлась главбухом на заводе.  Вот только подруги подрастерялись на жизненном пути и обнаружили ее по жалобам соседей на запах. Совсем уж одиноких людей мало. Наследники на квартиру нашлись. Но сам факт, что пожилая женщина умерла в одиночестве и до нее никому не было дела, вот это расстроило.</p>
            <p>Ну вот, не хотела скатываться к банальностям, а выдрала из памяти классический случай «стакана воды».</p>
            <p>Я вас утешу, многие родители при живых детях тоже умирают в одиночестве. Такова жизнь и её пути со взаимными обидами и детскими психотравмами.</p>
            <img src="@/img/foto/1128.jpg" alt="Одинокий родитель">
            <br/>
            <br/>
            <p>Вернемся к нашим баранам, в 30 лет я почувствовала, что «поезд уходит» и пошла стимулировать мужа. Он, оказывается, всю жизнь хотел минимум троих детей (сволота такая, не ему же рожать), так что мы занялись делом и управились за три месяца. В ход шло и правильное питание, и подкормки (например, фолиевая кислота). Образ жизни мы и до этого вели не слишком плохой, даже бросать курить никому из нас не пришлось. Однако, не смотря на все наши усилия: гипоксия, кесарево и куча дальнейших проблем.</p>
            <p>Жаль, что ВСЁ контролировать невозможно. Иногда вещи случаются просто потому что. Наша задача – сделать все для минимизации последствий, не сломаться под давлением обстоятельств и не опускать руки.</p>

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">09.12.2022</div>
            <h2>Опасен ли яркий свет одномесячному человеку?</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Для ЛЛ – не так, как вы думаете.</p>

            <img src="@/img/foto/1129.jpg" alt="Люди в черном яркая вспышка">
            <br/>
            <br/>
            <p>Многие  родители замечают, что их младенцы любят «залипать» на свет. То есть долго и безотрывно смотрят на яркие источники (лампочки, светильники). </p>
            <p>Максим тоже этим увлекался, а, поскольку, он перенес операцию на глазах и со зрением и так проблемы были, то окулист услышал закономерный вопрос: насколько это опасно? </p>
            <p>Оказалось, что сами яркие источники младенцы воспринимают иначе, чем взрослые. Из-за того, что они еще не могут фокусировать зрение (этому тоже надо учиться), то яркий источник света на расстоянии трех метров они воспринимают, как размытое пятно и никакого ущерба зрению не наносится. Малышу просто интересен этот неизвестный, но яркий объект. </p>
            <p>Другое дело, что яркий источник света может оказывать сильное возбуждающее воздействие на нервную систему ребенка, в результате чего – плач, истерики и долгое укладывание спать. </p>
            <p>Именно поэтому в комнате ребенка (не повторяйте наших ошибок, у ребенка должна быть отдельная комната) поначалу желательно иметь мягкий, чуть приглушенный свет.</p>
            <p>Так же исключите из кроватных игрушек и «мобилей» всё мигающее и имеющее яркий свет. Тем более сейчас, когда полно игрушек со светодиодами.</p>
            <img src="@/img/foto/1130.jpg" alt="Гасите свет">
            <br/>
            <br/>
            <p>После 3-4 месяцев дети вполне сносно умеют управлять своими глазками и их можно переводить на «взрослый» режим. То есть во время бодрствования у ребенка все должно быть освещено хорошо, желательно солнечным (дневным) светом, а к моменту засыпания, для выработки мелатонина свет выключается или максимально приглушается.</p>
            <br/>
            <p><b>Несколько фактов о зрении младенцев:</b></p>
            <br/>
            <p><i>Сразу после рождения младенцы различают только черный и белые цвета. </i></p>
            <br/>

            <p><i>До двух месяцев младенцы различают белый, черный, красный, зеленый и желтый цвета. Для распознавания остальных ему требуется визуальный опыт. После 3-4 месяцев кроха сможет различать все цвета радуги.</i></p>
            <br/>

            <p><i>В первые дни после рождения картинка в голове у новорожденных раздвоена и перевернута. Мозгу требуется время, что бы приучиться воспринимать мир с двух глаз.</i></p>

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">11.12.2022</div>
            <h2>Кололась, колюсь и буду колоться!</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1131.jpg" alt="Мышка плакала, кололась, но продолжала кушать кактус">
            <br/>
            <br/>
            <p>Да, я являюсь сторонником прививок и не скрываю этого. Я считаю, что пользы от прививок больше чем вреда, так что извините, но и детей своих я буду прививать. </p>
            <p>У Максима, в связи с особенностями рождения и дальнейшими операциями, была куча медотводов от прививок, но сейчас мы уже нагнали все графики и ребенок получает прививки в соответствии со своим возрастом.</p>
            <p>Уважаемы родители, слушайте врачей! Их наказывают за увеличение смертности, значит они должны быть заинтересованы в здоровье вашего малыша. И если врач говорит, что пора делать прививку, то сделайте её. Этим вы поможете не только себе, но и всем окружающим вас людям, формируя «коллективный иммунитет».</p>
            <img src="@/img/foto/1132.jpg" alt="Как работает коллективный иммунитет">
            <br/>
            <br/>
            <p>Именно таким образом и были побеждены некоторые страшные болезни (например «черная оспа», о чем ВОЗ сделал доклад в 1980 году и сейчас возбудитель этого опаснейшего заболевания сохранился только в исследовательских медицинских лабораториях).</p>
            <p>Вы хотите спасти 2,5 миллиона детских жизней? Тогда прививайтесь. По мнению Детского фонда ООН (ЮНИСЕФ) вакцинация всего от четырех болезней — дифтерии, столбняка, коклюша и кори — ежегодно спасает именно столько детей.</p>
            <p>Я понимаю мам, которые не хотят, что бы их новорожденным ставили какие то уколы. Но это необходимо! Иммунитет малыша формируется с первых дней жизни и есть болезни, которые для младенцев гораздо опаснее, чем для взрослых (гепатит B и туберкулез).</p>
            <p>Так, гепатит B у взрослых удается вылечить в 95% случаев, а у новорожденных — только в 5%. </p>
            <p>Врачи не пытаются напичкать малютку вакцинами, наоборот, все прививки делаются в максимально поздние разумные сроки. Но с этими двумя вирусами крылатую фразу «промедление смерти подобно» стоит воспринимать почти буквально.</p>
            <p>Я понимаю, что написала мало, есть люди объясняющие такие вещи гораздо понятнее и лучше, но я стараюсь не только ради вас. Помните «коллективный иммунитет»? Вот, он и для моих детей работает. Давайте заботиться друг о друге и может мы приблизим Жизнь без болезней!</p>
            <img src="@/img/foto/1133.jpg" alt="Антипрививочник и смерть">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">13.12.2022</div>
            <h2>Спинномозговой ликвор – от пользы до убийства один шаг.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1134.jpg" alt="Максим довольный">
            <br/>
            <br/>
            <p>Пожалуюсь еще на одну проблему, в которой скорее всего виновата недоношенность Максима – гидроцефалию (в народе называют «водянкой»). </p>
            <p>То есть спинномозговая жидкость, вырабатываемая желудочками мозга, скапливается в черепной коробке младенца в избыточном количестве. Чаще всего проблема заключается не в самой выработке, а в нарушении процесса отвода ликвора. При этом спинномозговой ликвор выполняет множество функций (защитные, транспортные и т.д.), потому вмешиваться в его работу надо ОЧЕНЬ осторожно.</p>
            <p>Именно избыток жидкости провоцирует рост внутричерепного давления, что влечет разнообразные проблемы и осложнения. Все-таки мозг – центральный орган, влияющий на все в нашем организме.</p>
            <img src="@/img/foto/1135.jpg" alt="Симптомы гидроцефалии">
            <br/>
            <br/>
            <p><i>Почему недоношенные дети этим страдают чаще?</i></p>
            <br/>

            <p>Так ведь у них все органы ослаблены, в том числе и сосуды. Вот и происходит кровоизлияние в желудочки мозга, где кровь загрязняет ликвор, образует мини-тромбы, которые механически начинают препятствовать отводу ликвора из отделов головного мозга.</p>
            <br/>
            <p><i>Ка же обнаруживают и предупреждают гидроцефалию? </i></p>
            <br/>

            <p>Ооо… Тут большое поле для споров о вреде/пользе. Но факт остается фактом - врачи делают УЗИ (ультразвуковое исследование) мозга новорожденным. Это вполне возможно проводить до 1 – 1,5 лет, пока не затянулся «родничок». Да, именно через темечко, где у новорожденных еще не соединились кости черепа. </p>
            <p>Официальных данных о вреде для мозга от процедуры УЗИ нет, но многие родители обеспокоены и часто можно слышать выражения «вскипятить мозг». Несмотря на это уже 20 лет активно применяется процедура УЗИ мозга и статистики негативных последствий пока не собрано никем.</p>
            <p>Все же УЗИ обследование стало обязательным для всех младенцев. Процедуру стараются проводить по показаниям в роддоме, без показания – всем детям в 1 месяц во время комплексного ультразвукового обследования в рамках первого медицинского осмотра грудничка.  </p>
            <p>Тут я не знаю, чью сторону занять, поскольку не понимаю полностью последствий. Все-таки мозг- тонкая структура и возможно проявление изменений спустя даже годы.</p>

            <img src="@/img/foto/1136.jpg" alt="УЗИ мозга грудничка">
            <br/>
            <br/>
            <p>Но теперь о пользе УЗИ, именно с помощью него можно быстро обнаружить кровотечение в мозгу и своевременно принять меры для купирования проблемы. </p>
            <p>Так же было и с Максимом. Развитие гидроцефалии остановили медикаментозным способом, иначе ребенок мог даже погибнуть. </p>
            <p>Важно отслеживать изменения в мозгу ребенка в динамике, потому УЗИ мы продолжали делать Максиму регулярно до возраста 1,7 года, потом эта возможность «закрылась».</p>
            <p>Очень часто гидроцефалия проходит незаметно для человека. Это связано со своевременностью лечения и большими компенсаторными способностями детского организма.</p>
            <br/>

            <p>Сейчас неврологу тоже хотелось бы заглянуть внутрь, но сделать это уже будет сложнее, т.к. требуется процедура МРТ с высоким разрешением. </p>
            <br/>
            <p>Тут вырисовывается несколько проблем:</p>
            <p><i>1.	Аппарата высокого разрешения у нас в городе не было до сих пор. Значит надо ехать в Москву или Нижний Новгород.</i></p>
            <p><i>2.	Заставить ребенка лежать неподвижно всю процедуру – тоже не вариант, значит нужен наркоз – а это риски повыше УЗИ головного мозга.</i></p>
            <br/>
            <p>Вот мы и не знаем, что сделать, что бы максимально безопасно было для ребенка. </p>
            <p>Ладно, кучу проблем уже решили и эту решим. </p>
            <br/>
            <p>Вам я хочу сказать: наслаждайтесь каждым моментом, проведенным со своим ребенком, делайте больше фото и видеофиксаций. Когда дети станут взрослыми, вы сможете напоминать себе, какими беспомощными были эти большие и серьезные дяди и тети. Да и им будет приятно окунутся в воспоминания.</p>
            <img src="@/img/foto/1137.jpg" alt="Взрослые дети">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">15.12.2022</div>
            <h2>Самообслуживание – первый шаг к самообеспечению.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1138.jpg" alt="Боже они же еще дети!">
            <br/>
            <br/>
            <p>Да-да. Первый враг перевода детей на самообслуживание – это жалость. Жалость к маленьким детям и жалость к себе. Сейчас все поясню.</p>
            <p>Гиперопека - вы жалеете своих детей «ну они такие маленькие, им еще сложно, я помогу». И такие доводы могут приводиться годами, в итоге дети вырастают полностью несамостоятельными и неприспособленными к жизни без родителей.</p>
            <p>Не надо так делать. </p>
            <p>Вы сами из здорового человека делаете «бытового инвалида».</p>
            <br/>
            <p>Жалость к себе проявляется в желании сэкономить время и сделать быстрее ребенка то, что он сам вполне может сделать, пусть и медленно. Например, процесс одевания. Родитель ребенка сможет одеть за две минуты, сам же ребенок копошиться будет минут десять, да и то с сомнительным результатом. В итоге многие родители (да и я иногда грешу таким) одевают ребенка, лишая его возможности научиться самостоятельно одеваться. Здесь я вам могу посоветовать только закладывать такие траты времени заранее в свой график или отправлять ребенка одеваться пораньше.</p>
            <br/>
            <p>Весь опыт человека – это шаблоны действий и конструкты поведения. То есть, одеваясь, ребенок закрепляет у себя в голове определенный шаблон, по которому, в следующий раз, он все сделает чуть быстрее. Но если родитель вмешивается, то шаблон сбивается и опыта ребенок не получает.</p>
            <img src="@/img/foto/1139.jpg" alt="Максим сидит, играет.">
            <br/>
            <br/>
            <p>Сейчас пробежалась по памяти в поиске самого раннего момента приучения Максима к самостоятельности. Наверное, все-таки, это бутылочка. То есть мы приучали Максима самостоятельно держать бутылочку и кушать, не отвлекая родителей. Потом было умение переворачиваться, затем садиться и ползать. Помню муж неделю учил Максима правильно спускаться с дивана. Там был следующий шаблон: доползаем до края, разворачиваемся на 180 градусов и ногами вперед сползаем. Естественно, потом было умение ходить, затем одновременное приучение к горшку и управление ложкой с кашей.</p>
            <p>Да, я понимаю, часто все это хочется пустить на самотек, потому как обучение – тоже требует времени, но в перспективе же это все окупается! А еще вы укрепляете свою эмоциональную связь с ребенком.</p>
            <p>Поверьте, это все мелочи и в будущем вам придется учить ребенка гораздо более сложным конструктам поведения и шаблонам действий. Так что считайте это не только тренировкой ребенка, но и своей. Умные, воспитанные, здоровые дети – это на 90% работа родителя и только на 10% - гены.</p>
            <img src="@/img/foto/1140.jpg" alt="Несамостоятельный защитник родины">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">17.12.2022</div>
            <h2>Не всегда количество переходит в качество.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1141.jpg" alt="Куча игрушек">
            <br/>
            <br/>
            <p>По мере роста Максиму постоянно докупались новые игрушки. Естественно, в кроватке место быстро закончилось. Но, поскольку, она стояла рядом с компьютерным столом, то игрушки начали складироваться туда. Максим, при желании, брал их и играл.</p>
            <p>В процессе мы заметили особенность – взяв какую-то игрушку, Максим играл с ней достаточно недолго, затем откладывал и брал новую.</p>
            <p>Помните в прошлом посте я говорила о шаблонах поведения? Так вот, здесь они так же применялись, то есть, взяв игрушку Максим выполнял с ней свой шаблон игры и на этом все. Так как игрушек было много, он вполне «наигрывался» перебирая их все.  </p>
            <br/>
            <p>Я вам скажу, что это ловушка. У ребенка главная задача – не наиграться, а развиваться. Набираться опыта и постоянно совершенствовать свои шаблоны поведения, через усложнение или увеличение количества.</p>
            <img src="@/img/foto/1142.jpg" alt="Дети играют">
            <br/>
            <br/>
            <p>Как развиваться ребенку, если он выполняет с игрушками одни и те же действия?</p>
            <br/>
            <p>Потому мы пошли на кардинальный шаг и большая часть игрушек «пропала» пока Максим спал. Осталось 5-6 штук. </p>
            <br/>
            <p>Максим, мягко говоря, был недоволен. </p>
            <br/>
            <p>🔸<i>Первый день:</i> Он перебирал игрушки снова и снова, в итоге расплакался и выкинул их все за пределы кроватки. Скучно.</p>
            <p>🔸<i>Второй день:</i> Перебирал игрушки, выкинул одну. Поплакал. Скучно.</p>
            <p>🔸<i>Третий день:</i> Перебирал игрушки, выбрал одну и играл с ней гораздо дольше остальных, придумывая новые способы игры. Скуки поменьше.</p>
            <br/>
            <p>В принципе цели своей мы добились, ребенок со своими игрушками начал придумывать новые способы игры, включилась фантазия, а не повторение одного и того же.</p>
            <br/>
            <p>Поскольку игрушек у нас уже накопилось много, то через две недели часть игрушек «заменилась» на «новые» (из запасов).  </p>
            <p>Вопреки ожиданиям Максим не расстроился пропаже старых игрушек, а скорее обрадовался новым. И с некоторыми он даже играть начал «по новому», то есть за время отсутствия у него забылись старые способы игры и он изобрел для себя новые.</p>
            <br/>
            <p>Да, мы «дети девяностых», стараемся дать нашим детям то, чего у нас не было, то есть кучу игрушек, но перебарщивать тоже не стоит. </p>
            <p>Описанной мной ротацией игрушек можно добиться не только включения воображения у ребенка, но и эффекта новизны без постоянной покупки новых игрушек.</p>
            <br/>
            <p>Этот способ применим только пока ребенок ограничен в своем перемещении кроваткой, манежем или своей комнатой. То есть находится в привычной и хорошо изученной обстановке, в которой «новые» игрушки будут давать «вау» эффект. Если ребенок свободно передвигается по дому, то он найдет чем себя занять и без ваших усилий. Но к этому времени ему уже желательно сформировать и закрепить способы игры с подключением воображения. </p>


            <img src="@/img/foto/1143.jpg" alt="Особенности развития игровой деятельности">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">19.12.2022</div>
            <h2>Бытовая <del>без</del>Опасность</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1144.jpg" alt="Ребенок и оружие">
            <br/>
            <br/>
            <p>Да, оружие тоже надо хранить подальше от детей, но речь о другом.</p>
            <br/>

            <p>В вашей квартире (доме) вам угрожает очень мало вещей, если вы соблюдаете технику безопасности. Вашему ребенку такие слова не ведомы, значит и угроз для него будет значительно больше.</p>
            <br/>

            <p>Как только Максим научился ползать, мы, первым делом, обезопасили розетки. Сами розетки были закрыты специальными накладками от детей, а еще, заранее, муж установил УЗО (Устройство защитного отключения), потому как безопасности много не бывает. </p>
            <img src="@/img/foto/1145.jpg" alt="УЗО описание, особенности">
            <br/>
            <br/>
            <p>Дети не только очень любопытны, но и импульсивны, то есть действуют не подумав, на одних желаниях, что может привести к травмам.</p>
            <br/>
            <p>Например, садились мы кушать, Максиму был уже год и два месяца.  Муж сидел на стуле и держал Максима на коленях. Борщ только что вскипел и я раскладывала его по тарелкам. Максим накормлен заранее, сидит довольный угукает. Я ставлю тарелку борща перед мужем. Он тянется за ложкой и чуть наклоняется к столу, Максим видит свой шанс и не упускает его. Схватив тарелку за край, он резко дергает её на себя. У Максима облиты рука и нога, у мужа ноги, но плотные шорты плохо впитывают кипяток, потому оба занимаемся ребенком. Срочный пробег в ванну и пихание ревущего малыша под струю холодной воды, не раздевая, главное время. </p>
            <p>Обошлось локальным покраснением кожи и наукой Максиму, что такое «горячо». </p>
            <br/>
            <p>Отсутствие опыта делает детей уязвимыми. Они не знают последствий, которые вызовет тот или иной поступок. Например, пока ваш малыш был грудничком, вы регулярно гладили ему пеленки-распашонки. Гладильная доска всегда разложена и утюг на ней всегда готов к выполнению своих прямых функций. Вы молодец, вы ни разу не забыли выключить утюг из розетки и довели это уже до автоматизма, вроде все в порядке. Коварность ситуации в другом. Начав ползать, ваш малыш может заинтересоваться, что это за шнур свисает и дернет за него. Того, что к другому концу шнура приделан тяжелый утюг, он не знает. Именно вы должны предусмотреть такие варианты развития событий.</p>
            <img src="@/img/foto/1146.jpg" alt="Дети, баловство, стиральная машинка">
            <br/>
            <br/>
            <p>🔹 Убрать из доступа малыша все колюще-режущие предметы (ножи, ножницы, иголки, булавки).</p>
            <br/>
            <p>🔹 Сложить в недоступный ящик бытовую химию.</p>
            <br/>

            <p>🔹 Лекарства спрятать.</p>
            <br/>
            <p>🔹 На окнах должны быть детские замки. </p>
            <br/>

            <p>🔹 Газовые плиты должны быть с газконтролем.</p>
            <br/>
            <p>🔹 Приучить себя отворачивать от края кухонной плиты ручки кастрюль и сковородок, а лучше, готовить на дальних конфорках.</p>
            <br/>

            <p>🔹 Установите на водопровод систему протечки (особенно актуально для квартир). Нам такая система обошлась в сорок тысяч. Но это значительно снизит шансы затопить свою и чужую квартиру. Защитит не только от шалостей ребенка, но и от неисправностей стиральной машины или водопровода.</p>
            <br/>

            <p>Вообще, иногда полезно смотреть на мир глазами ребенка, не стесняйтесь, лягте на пол и поползайте вместе с ним, посмотрите на мир под другим углом, так сказать. Заодно и ребенка повеселите и, может, заметите новые опасности, которые, в силу привычки, ранее ускользали от вас.</p>

            <img src="@/img/foto/1147.jpg" alt="Любопытные детские ручки">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">21.12.2022</div>
            <h2>Есть ложь, а есть статистика.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Максим родился с массой тела 959 грамм и ростом 31 см. </p>
            <br/>
            <p>Россия с 2012 года перешла на новые критерии живорождения: в соответствии с рекомендациями Всемирной организации здравоохранения врачи обязаны бороться за жизнь детей, рожденных с весом от 500 граммов. </p>
            <br/>
            <p>Я подозреваю, что это сделано в угоду снижения показателей статистики младенческой смертности. На чувства мам, которые родили пусть маленького, но живого человечка, несколько дней могли наблюдать за ним, а потом потерять, и которым после этого в карте пишут «мертворождение», Минздраву плевать. </p>
            <br/>
            <p>На фото Максим возрастом чуть больше недели. Это вроде вторая его фотография. Детей специально приносят, поскольку им полезно тепло тела человека. В нетранспортабельных случаях можно посидеть рядом с инкубатором просто положив на ребенка свою руку. </p>
            <img src="@/img/foto/1148.jpg" alt="Максим возраст чуть больше недели">
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">23.12.2022</div>
            <h2>Первые признаки расстройства у Максима.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p>Молодые родители, первый ребенок. Более опытные люди может и заметили бы это раньше, но мы забеспокоились только к двум годам, когда Максим так и не заговорил. То есть до полутора лет он угукал, вроде пытался что то повторить, а потом как будто наступил регресс. До этого мы успокаивались тяжелыми родами, операциями ребенка и словами невролога «Это бывает, он у вас недоношенный, еще разговорится, продолжайте пить лекарства». Мы продолжали принимать курсы прописанных ноотропов, но видимого эффекта не было.  </p>
            <img src="@/img/foto/1150.jpg" alt="РАС определение">
            <br/>
            <br/>
            <p>Максим не разговорился.</p>
            <br/>
            <p>🔸 Вообще стало заметно, как тяжело дается ребенку обучение. Сбор-разбор детских пирамидок, изучение новых слов, понимание чужой речи и обращенных просьб. Прогресса достигать стало все труднее, потому что, выучив цвета и перейдя к формам, через месяц можно было выяснить, что цвета ребенок уже забыл. </p>
            <br/>
            <p>🔸 Рассеяние внимания – которое раньше воспринималось как «нежелание учиться» и «баловство» стало реальной проблемой. Обучение требует минимальной концентрации, а её не достигнуть на нужное время.</p>
            <br/>
            <p>🔸 Раздражительность – тоже проблема. Максим пытается тебя понять, но у него не получается. Это вызывает вспышки злости на себя, которые могут перейти в истерику. Подобное лучше купировать заранее, помогая и объясняя, но не всегда успеваешь.</p>
            <br/>
            <p>🔸 Координация – хуже чем у сверстников, активные игры могут привести к травмам, приходится соблюдать осторожность.</p>
            <br/>
            <p>🔸Игры – они стали очень простыми и повторяющимися. Да, в прошлых статьях я рассказывала, как мы пытались этого избежать, но не получилось (я же писала про регресс).</p>
            <br/>
            <p>Очень больно смотреть, как твой ребенок проявляет все больше признаков болезни.</p>
            <br/>
            <p>Вообще признаков РАС гораздо больше и совпадение нескольких из них – уже повод насторожиться родителям.</p>
            <img src="@/img/foto/1151.jpg" alt="Признаки РАС у детей">
            <br/>
            <br/>
            <p>Теперь объясняю, почему признаков так много, посмотрите на эту картинку:</p>
            <img src="@/img/foto/1149.jpg" alt="РАС как диагноз">
            <br/>
            <br/>
            <p>Красный круг не просто так цепляет по чуть-чуть все остальные зоны. РАС – это не конкретная болезнь, а скорее признание факта, что у ребенка есть проблемы, задевающие несколько вот этих цветных зон.</p>
            <br/>
            <p>Именно из-за такого массового охвата и так сильно разнятся люди с одинаковым диагнозом РАС. Кто то может после легкой коррекции стать полноценным членом общества, а кому то понадобится продолжительный уход.</p>

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">25.12.2022</div>
            <h2>Молчание – золото?</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <p><i>Spoiler: С удовольствием сменила бы это золото на серебро.</i></p>
            <img src="@/img/foto/1152.jpg" alt="Молчание - золото">
            <br/>
            <br/>
            <p>В прошлом посте я писала, как у Максима начали проявляться признаки РАС (расстройство аутистического спектра). Проблема обозначена – надо решать.</p>
            <br/>
            <p>В принципе, главное, что нас беспокоило – речь. Это ключ ко всему. Будет речь – будет общение с ребенком, более легкое учитывание его желаний, облегчение обучения и прочее.</p>
            <br/>
            <p>Оказалось, что логопеды тут не помогут, они занимаются исправлением или развитием уже существующей речи, а что бы разговорить ребенка с нуля нужен особый специалист – логопед-дефектолог.</p>
            <br/>
            <p>Логопед-дефектолог — специалист, который помогает сформировать правильную речь или восстановить утраченную речевую функцию. Чаще всего он работает с детьми, но его помощь может потребоваться и взрослым — в частности, для восстановления речи после инсульта.</p>
            <br/>
            <p>Преимущества большого города – наличие всевозможных специалистов разного уровня, это одна из причин укрупнения городов и вымирания деревень.</p>
            <img src="@/img/foto/1153.jpg" alt="Большой город">
            <br/>
            <br/>
            <p>В нашем маленьком городе с такими узкими специалистами беда, потому до четырех лет мы пытались справиться с проблемой через невролога и самостоятельные занятия. Одно время, даже пытались наладить жестовую коммуникацию с ребенком, но тоже не получилось.</p>
            <br/>
            <p>Скорее всего это была ошибка, подобные расстройства должны корректировать специалисты. Проблемы с речью и самообслуживанием поставили крест на детском саду в три года. Затем проблем подкинула ковидная вакханалия и все эти ограничения.</p>
            <br/>
            <p>По итогу, к нормальному дефектологу Максим попал на пятом году жизни. Максим сидел и занимался практически весь положенный час. И так в течении всего оплаченного месяца. (Хм, оказывается, из меня плохой педагог для своих детей. Во время наших занятий Максим мог через десять минут уже по потолку начать бегать. Ну или я подготовила его к этому занятию своими регулярными учениями).</p>
            <br/>
            <p>Да, эффект был, но не «ВАУ!». В психиатрии вообще часто имеет место накопительный эффект, когда количество переходит в качество. То есть мы долго-долго занимаемся без видимого эффекта, а потом прорыв. Но наши финансовые возможности стали очень ограниченными ( я не работала уже пять лет). Вот и пришлось прерваться. Дальше невролог предложила оформить инвалидность ребенку, Максима согласились взять в детский сад, в общем забот прибавилось.</p>
            <br/>
            <p>Если кому то так же не повезло, как и нам, я вас советую не тянуть со специалистами. При первой же возможности начинайте проводить занятия. Всё это самостоятельное и домашнее обучение это хорошо и лампово, но человек с опытом будет гораздо эффективнее.</p>
            <br/>
            <p>PS   Недавно Максиму исполнилось семь лет, он ходит в специальную группу детсада (единственную в городе), где с ними работают специалисты. На данный момент он полноценно не разговаривает, от слов произносит только первые слоги, построение фраз – это что то за гранью фантастики, но мы еще работаем над этим.</p>
            <img src="@/img/foto/1154.jpg" alt="Максим в детсаду">



          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">27.12.2022</div>
            <h2>Обычный детский сад.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1155.jpg" alt="Обычный детский сад">
            <br/>
            <br/>
            <p>В свой первый детсад Максим пошел в четыре года и это была вынужденная мера. Как я рассказывала, невролог предложила оформить инвалидность Максиму (о самой процедуре оформления расскажу позже - это была кошмарная девятимесячная эпопея), а детсад облегчал в этом случае некоторые процедуры.</p>
            <br/>
            <p>Садик был самым обычным, около дома. Группа, в которой было больше двадцати детей. Естественно, ни о каком «особом» отношении к Максиму речи не шло. </p>
            <br/>
            <p>Началось все с коротких (час-два) посещений, которые постепенно удлинялись, по мере адаптации ребенка к садику. Для облегчения работы воспитателей и нянечек мы остановились на «полудневном» посещении. То есть Максим приходит с утра, играет, гуляет, учится до обеда, а перед сном мы его забираем домой.</p>
            <img src="@/img/foto/1156.jpg" alt="Папа забирает ребенка из детсада">
            <br/>
            <br/>
            <p><b>Минусы посещений:</b></p>
            <br/>
            <p>🔹Максиму приходится рано вставать. Это вызывает недосып, который вызывает учащение капризов и плохого настроения.</p>
            <br/>
            <p>🔹Максим мешает группе заниматься. Было такое, особенно первое время, пока Максим не привык. Жаловались воспитатели, что Максима иногда приходится отдельно контролировать. Мало усидчивости. Тут я ничего поделать не могла, потому прошу прощения у воспитателей, детей и их родителей за такие выходки ребенка.</p>
            <br/>
            <p>🔹 «Особого» отношения нет, но фактически Максим все равно требует больше внимания, чем здоровые дети из-за сниженных навыков самообслуживания.</p>
            <br/>
            <p>🔹 Детсадовский иммунитет. Это, блин, проблема. Заболевает один – заболели все. Но поскольку это проблема всех родителей, то и фокусироваться на ней не буду.</p>
            <br/>
            <p><b>Плюсы посещений:</b></p>
            <br/>
            <p>🔸Режим. Приучать детей к режиму полезно, тот же недосып можно превратить в преимущество быстрого засыпания ребенка вечером.</p>
            <br/>
            <p>🔸 «Вынужденное обучение». Назовем это так. В садике нет мамы, которая покормит, если самому лень ложкой работать, нет мамы, которая жопку вытрет сразу, что бы раздражения не было и т.д. Все это стимулирует ребенка быть более самостоятельным.  Через это проходят большинство детей в яслях, а Максим чуть задержался. Явные эффекты такого были заметны даже дома уже через месяц посещения садика.</p>
            <br/>
            <p>🔸Социализация. Детям надо общаться, играть и взаимодействовать с другими детьми. Это формирует у них первичные черты характера и подготавливает к взрослому миру. Если ребенок будет все время общаться только со взрослыми (которые пусть и неосознанно, но все равно доминируют над ребенком), то перекосы в воспитании неизбежны.</p>
            <br/>
            <p>🔸Речь. Да, мы надеялись, что общение со сверстниками подстегнет Максима в этом направлении. Но, видимо, проблема слишком глубока. Все же, надеюсь, что какие то подвижки были в плюс ребенку.</p>
            <br/>
            <p>🔸Помощь других детей. Это было неожиданно и приятно. Воспитатели нашли способ себе облегчить жизнь и привлечь детей к общественно-полезному труду (шутка, а то знаю я вас). Уж не знаю, как они группе объяснили, что Максим болеет и ему не помешала бы поддержка других детей, но началось почти соревнование. Поскольку я обычно забирала Максима на прогулке, то дети могли подойти ко мне и похвалиться, кто чем сегодня помог Максиму. Одевание, игры, умывание, еда, все было в этом списке. И все это было сделано без каких-либо корыстных побуждений. Маленькие ангелочки, спасибо вам за это.</p>
            <br/>
            <p>Почти год Максим ходил в обычный садик. Только по полдня, но ходил. Были трудности и у нас, были трудности и у группы. Хотелось бы поблагодарить всех участвовавших за терпение, и сочувствие. Это был очень полезный опыт не только для Максима. Надеюсь, зерна доброты, посеянные воспитателями в этой группе дадут всходы.</p>

            <img src="@/img/foto/1157.jpg" alt="Дети и последовательность поступков">
            <br/>
            <br/>
            <p>PS  Расстройство Максима не имеет агрессивного оттенка, ни одного случая физического конфликта не зафиксировано.</p>


          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">03.01.2023</div>
            <h2>Необычный детский сад.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1158.jpg" alt="Не показывай им свой страх">
            <br/>
            <br/>
            <p>Раз уж начала рассказывать, то объясню и про специализированный садик, в который Максим ходит уже полтора года. Вернее, не садик, а группа в садике, одна на весь город. </p>
            <br/>
            <p>Попасть в неё просто по желанию родителей нельзя, требуется направление от ПМПК (психолого-медико-педагогическая комиссия). И это обычно значит, что у ребенка уже официально признанные медициной проблемы.</p>
            <br/>
            <p><b>Основные отличия таких групп:</b></p>
            <br/>
            <p>🌕 <i>Сниженная численность воспитанников.</i></p>
            <br/>
            <p>Семь детей для таких групп – это максимум. По факту группу посещают только 4-5 человек. Это позволяет воспитателю и нянечке уделить гораздо больше времени каждому ребенку.</p>
            <p>Хотя, например в ноябре-декабре 2022 года, когда в нашей области проходил пик заболеваемости ОРЗ в группу часто ходило и по одному ребенку в день. Просто дети часто болеют. Хм, хотя и другие причины бывают: например, Максим, последние две недели декабря не ходил в садик, чтобы не притащить в семью бациллу под Новый год.</p>
            <br/>
            <p>🌕 <i>Активная работа с группой психологов и логопедов образовательного учреждения.</i></p>
            <br/>
            <p>Сразу «обрадую» родителей, это не замена вашему логопеду-дефектологу или хорошему психологу со стороны. Потому не забрасывайте свои индивидуальные занятия для ребенка. Иногда лучше отменить на день посещение детского сада, но позаниматься с профессионалом в индивидуальном порядке, если графики пересекаются.</p>
            <br/>
            <p>🌕 <i>Специальная подготовка воспитателей.</i></p>
            <br/>
            <p>В основном тут требуются навыки работы как с самыми младшими группами детсада и, конечно, терпение. Огромное количество терпения. На такой работе требуется особый склад характера. Если взять меня, то я явно не справлюсь. Даже со своим ребенком иногда сдают нервы, а тут с чужими возиться. Всем работникам детских садов мой низкий поклон.</p>
            <br/>
            <p>🌕 <i>Отсутствие выбора и расстояние.</i></p>
            <br/>
            <p>Да, как я и говорила, у нас в городе всего одна подобная группа, значит выбрать «поближе к дому» не получится. Значит надо ломать свой маршрут поездки на работу (у нас через половину города), вставать еще раньше. </p>
            <br/>
            <p>🌕 <i>Ненужное обучение.</i></p>
            <br/>
            <p>Почему то, плохому дети друг у дружки обучаются гораздо легче, чем хорошему.</p>
            <p>Например, Максим научился рычать, выражая этим свое плохое отношение к нашим предложениям или действиям. Так же он научился своеобразному «пению» во время хорошего настроения. Вот только эти высокочастотные (детский голос) монотонные завывания могут сильно раздражать непривычных слушателей. Пытаемся отучать, но получается так себе…</p>
            <br/>
            <br/>
            <p>В конце хотелось бы высказаться по поводу процессов «инклюзивности», продвигаемых нашим государством. Это все хорошо, но в меру. Как бы мне ни хотелось, чтобы мой ребенок занимался с остальными детьми, учась у них правильному поведению и речи, но я понимаю, что в целом он будет тянуть эту группу назад. Дети с тяжелыми расстройствами могут очень сильно мешать остальной группе, потому, повсеместное закрытие специализированных дошкольных и школьных образовательных учреждений ради экономии бюджета и перекладывания проблем на плечи обычных воспитателей и преподавателей плохо скажется на общем уровне образования. </p>
            <img src="@/img/foto/1159.jpg" alt="Фиолетовое варенье">


          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">05.01.2023</div>
            <h2>Максим и неторопливый МинЗдрав.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1160.jpg" alt="Гриффины о медицине">
            <br/>
            <br/>
            <p>Изначально к оформлению инвалидности ребенку мы относились отрицательно. Нам казалось, что это будет признанием поражения в борьбе с болезнью и вообще, с этой дороги не будет возврата. Да еще отношение нашего общества к «иждивенцам» формировало негативные установки.  </p>
            <p>Сейчас я вам скажу – это всё чепуха. Оценивайте это со стороны пользы для ребенка. Это способно облегчить его жизнь? Если да, то оформляйте без промедления.</p>
            <br/>
            <p>Ближе к пяти годам, по направлению невролога, мы начали собирать документы на официальное признание инвалидности Максиму.</p>
            <p>Сам полный список я приводить не буду, в интернете есть очень подробные инструкции на этот случай жизни, но о некоторых подводных камнях расскажу. </p>
            <br/>
            <p>Например, нам очень рекомендовали запастись комплектом характеристик из детского сада. А для этого надо, что бы ребенок туда пошел. Именно это было толчком для нас оторвать от своей круглосуточной опеки Максима. Так же, это высвободило мне несколько свободных часов днем и я начала подрабатывать, что, опять же, помогло сразу в нескольких направлениях:</p>
            <br/>
            <p>📍 Первое – финансы, с ними было очень туго.</p>
            <br/>
            <p>📍 Второе – психологическое состояние мое начало приходить в норму. Оказывается, я уже была на грани депрессии из-за этой болезни, но оценить я это смогла, только когда у меня появилось больше свободного времени на занятия другими делами.</p>
            <br/>
            <p>Ах да, я забыла упомянуть о важном моменте – это все начало происходить в первый год пандемии ковида, потому некоторые медицинские и оформительные процессы оказались сильно затянуты. Некоторые организации закрывались на карантин или переводились на удаленную работу. Медицинские учреждения были перегружены. </p>
            <br/>
            <p>Еще одним подводным <del>камнем</del> валуном оказался государственный психиатр. </p>
            <br/>
            <p>Поскольку РАС относится к психиатрии, то именно этот человек из психоневрологического диспансера является ключевым звеном в процессе оформления инвалидности. Причем выбора нет. Тот, который отвечает за твой район проживания, с тем работать и будешь. Один на несколько сотен тысяч человек. </p>
            <br/>
            <p>Далее начну приводить хронологию событий:</p>
            <br/>
            <p>🔖 Август 2020 – начинаем собирать документы, записываемся к психиатру.</p>
            <br/>
            <p>🔖 Сентябрь 2020 – начинаем ходить в детский сад, посещаем психиатра, он назначает нам дневной стационар на декабрь (один из видов обследования). Оформляем медицинские справки и выписки из истории болезни от обычной поликлиники. </p>
            <br/>
            <p>🔖 Декабрь 2020 – выясняем, что мест в стационаре нет, нам его переносят на февраль. </p>
            <br/>
            <p>🔖 Февраль – март 2021 – проходим дневной стационар в том же психоневрологическом диспансере. Нам сообщают, что заключение передадут нашему психиатру. Опять оформляем медицинские справки и выписки из истории болезни от обычной поликлиники (у них есть срок действия, потому пришлось обновить). </p>
            <br/>
            <p>🔖 Апрель 2021 – выясняем, что у психиатра заключения нет. Едем в диспансер, берем копию и сами относим её психиатру в соседнее здание. </p>
            <br/>
            <p>🔖 Самый конец апреля 2021 – ПМПК (психолого-медико-педагогическая комиссия) дает свое заключение, тоже психиатру в стопочку. Выясняем, что врач через день уйдет в отпуск на две недели (с майскими выходными это растянется почти на месяц). Муж бесится из-за очередной проволочки и грозящей очередной переделки документов, идет к главврачу диспансера менять психиатра. Выясняется, что это процедура не быстрая, тогда муж пишет жалобу в министерство здравоохранения.</p>
            <br/>
            <p>🔖 Через несколько дней (в субботу) нам позвонила медсестра психиатра и попросила подъехать, подписать какие то недостающие заявления (по нашим догадкам, после получения жалобы, «отпускника» выдернули на работу для дооформления пакета документов).</p>
            <br/>
            <p>🔖 Середина мая 2021 (после праздников) -  очень любезный главврач сама приняла нас, пыталась поговорить с Максимом и сообщила, что сегодня-завтра весь пакет докуметов передаст для оформления в бюро МСЭ (Медико-социальная экспертиза). </p>
            <br/>
            <p>🔖 Конец мая 2021 – МСЭ выдало свои рекомендации по реабилитации и эту розовую справку. </p>

            <img src="@/img/foto/1161.jpg" alt="Справка об инвалидности Максима">
            <br/>
            <br/>
            <p>Даже вывод никакой писать не хочется, помните в самых первых постах я хвалила отечественную медицину? Так вот, этот пост о ложке дегтя. Если мы где то ошибались, то понятно, что с первого раза и шишек можно набить, но когда врач, занимающийся этим каждый день, откровенно забивает на своих пациентов и без пинка сверху не хочет работать, это, извините, выходит за рамки. </p>
            <br/>
            <p>Вообще, в российской медицине все не так плохо, как у нас получилось. Оформить инвалидность в спокойном темпе должно занимать месяца три. Но ковид и психиатр, работающий в расслабленном темпе способны утроить этот срок.</p>
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">07.01.2023</div>
            <h2>Слушая наше дыхание.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1162.jpg" alt="Легкие отказываются дышать">
            <br/>
            <br/>
            <p>Здесь я упоминала, что не хочу болячек под Новый год, а теперь объясню, как у меня появилась такая фобия. </p>
            <br/>
            <p>В последний рабочий день декабря 2018 года муж пожаловался мне на больное горло. Времена были доковидные, потому отнеслась я к этому спокойно, мол «Выпей горячего чаю с вареньем и готовься провожать старый и встречать новый год».</p>
            <p>Однако вечером первого числа у него поднялась температура и появилось ощущения «давления» в верхней части бронхов.</p>
            <p>Поликлиника закрыта на праздники, скорую вызывать нет особо поводов, значит лечимся своими силами. Тем более больничный не нужен, впереди выходные и отпуск у него. Да и чего будет здоровому мужику? Так и случилось, температура прошла быстро, воспаление в горле (которое вызывало ощущение давления) продержалось дня четыре, потом тоже прошло, кашель чуть задержался. Ура! Болезнь побеждена!</p>
            <br/>
            <p>Рано радуетесь, болячка оказалась коварной и с мужа перепрыгнула на ребенка. Болело ли у Максима горло, не знаю (ребенок у нас не разговорчивый), но вот поднявшуюся температуру мы заметили сразу. </p>
            <br/>
            <p>Ладно, одного вылечили и второго вылечим.</p>
            <br/>
            <p>Наивные.</p>
            <br/>
            <p>Ночью я проснулась от сипов/хрипов. Максим лежал в кроватке рядом с нами и сипел. Он даже не проснулся и не заплакал, но дышал все хуже и хуже. Видимо, детский иммунитет отреагировал на инфекцию гораздо слабее и воспаление в горле было более острым. Муж вызвал скорую помощь, а я носила ребенка на руках. В вертикальном положении ему, вроде, дышалось чуть легче. Максим все так же не плакал (в отличие от меня), видимо ему не хватало на это сил или воздуха. </p>
            <br/>
            <p>Скорая приехала быстро, сделали ребенку ингаляцию, после которой Максиму полегчало и повезли нас сдавать в детскую инфекционку с диагнозом «Острый ларингит». </p>
            <br/>
            <p>Детская инфекционка в нашем городе – это нечто: здание советской постройки, палаты на восемь человек, окно для передачек, в которое дует так, что там не простоишь и минуты с больным ребенком. Но спасибо врачам, ингаляциям и антибиотикам, мы выздоровели за полторы недели, приступы удушья больше не повторялись, и даже пережили местный карантин, вызванный вспышкой кори. (От усиленного запаха хлорки меня все еще подташнивает). </p>
            <br/>
            <br/>
            <p>Я уже говорила про ответственность родителей, но повторять не устану, следите за своими детьми. Особенно за маленькими или такими, которые не могут рассказать о своем состоянии. Если бы я не проснулась, то и Максим мог не пережить этого воспаления, которое медленно, но уверенно закупоривало ему горло.</p>
          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">09.01.2023</div>
            <h2>Максим, сестра, COVID и последствия.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1163.jpg" alt="Посылка из Китая">
            <br/>
            <br/>
            <p>Мы вполне ответственные граждане, носим маски, прививаемся, но все эти меры вообще не панацея.</p>
            <br/>
            <p> В октябре 2021 года мы все-таки заболели ковидом всей семьей. И без тестов было понятно, что это, по характерным проблемам с обонянием.</p>
            <p>Клиническая картина без явных осложнений и перекосов. Температура, небольшая слабость, кашель и пропажа запахов. Судя по скорости заражения семьи (в течении недели заболели все) наша версия вируса очень контагиозна и на прививки плевать хотела с высокой колокольни. (Возможно это была уже какая-то мутация ковида, точных тестов не делали).</p>
            <p>Поскольку дети, по статистике, переносят вирус достаточно легко, то в этот раз мы больше переживали не за Максима, а за его двухмесячную сестренку, у которой иммунитет был на 99,9% врожденный. (фото в конце).</p>
            <br/>
            <p>Забегая вперед, скажу, что врожденный иммунитет малышки справился с вирусом гораздо лучше наших натренированных на всяких ОРЗ организмах. И температура у нее прошла быстро и кашлять она перестала раньше остальных. </p>
            <br/>
            <p>Уж не знаю какую летучую мышь сожрал в Китае «нулевой» пациент, но хорьки нашу массовую семейную эпидемию проигнорировали. Лишь следили, что бы им чистили лотки и поставляли вкусняшки регулярно. Отсюда делаем вывод, что хорьки мышам не родственники 😁.</p>
            <br/>
            <p><b>По поводу последствий: </b></p>
            <br/>
            <p>У мужа обоняние восстановилось быстро, а у меня в течении года потихоньку только, но и сейчас я иногда прошу мужа понюхать что то, вызывающее мои сомнения. </p>
            <br/>
            <p>Кашель: то проходит, то вновь возвращается. причем исключительно у мужской части нашей семьи. Видимо вирус им сильно по легким ударил. Пульманолог сказал, что со временем пройдет, но я боюсь, что следующая болячка может усугубить положение, потому слежу и за Максимом и за мужем, подкармливаю их иногда курсом витаминок. </p>
            <br/>
            <p>По поводу когнитивных последствий: говорят, после беременности женщины тупеют, еще после ковида некоторые жалуются на схожие проблемы, а у меня прямо комбо было! Я, может, вообще сейчас не понимаю, что пишу, да и без разницы мне. У нас половина мира живет на одних инстинктах, пожрать, поспать и поразмножаться и всех это устраивает.  </p>
            <br/>
            <p>К чему все это: Пусть сейчас ковид и перевели в разряд обычных ОРЗ, но не забывайте, что это все та же серьезная болезнь с долгоиграющими последствиями. Из-за свое массовости вирус активно мутирует и если заразность сумеет соединиться с отложенной, но высокой смертностью, то горя хапнем все и прививки мало помогут.</p>
            <br/>
            <br/>
            <p>Нагнала я на вас жути?</p>
            <p>А теперь чуть развлечемся, найдите десять отличий у детей:</p>
            <p>(Муж сходу сказал что на обеих фотках Максим, а потом присмотрелся и по обстановке дочь свою вычислил, с кем я живу?).</p>
            <img src="@/img/foto/1164.jpg" alt="Сестра и Максим">
            <br/>
            <br/>
            <p>Здесь у них разница несколько месяцев, просто у Максима (он справа) сложно найти фотографию без очков. Можете официально обзывать меня ксероксом 😁.</p>

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">11.01.2023</div>
            <h2>Максим и ранние подъемы.</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1165.jpg" alt="Тяжелое пробуждение ребенка">
            <br/>
            <br/>
            <p>Этот пост будет коротким, расскажу о маленьком нашем ухищрении, способствующим пробуждению Максима в сад.</p>
            <br/>
            <p> Я ведь уже упоминала, что вставать Максиму приходиться рано, поскольку садик находится в другой части города? И по мере удаления от выходных, Максим просыпается все тяжелее и тяжелее, может даже доходить до истерик (вспомните свое желание убивать всех человеков по утрам). </p>
            <p>При этом спать он укладывается гораздо раньше нас, примерно в 21.00 – 21.30.</p>
            <p>Все равно вставать «по звонку» мало кому нравится, мы уже и уговаривали, и щекотали, и вкусняшками манили. Заворачивается в одеяло и спит дальше. </p>
            <br/>
            <p>🔸 Помог мультик, скачанный с интернета. Он длится 4 минуты 28 секунд и Максим очень любит его смотреть (у вашего ребенка наверняка есть свои короткие любимые ролики). То есть услышав знакомые звуки чадо просыпается и смотрит мультик. Просто включайте его на телефоне и идите пить свой кофе.  </p>
            <br/>
            <p>В первые разы важно проследить за дитем и не дать ему уснуть по новой, а потом у него этот ролик будет ассоциироваться с пробуждением и он сам начнет вскакивать после его просмотра 😁.</p>
            <br/>
            <p><b>Всем легких пробуждений по утрам!</b></p>
            <br/>
            <p>PS метод применим не только к детям, но и ко взрослым. </p>
            <br/>
            <img src="@/img/foto/1166.jpg" alt="Когда же я высплюсь?">

          </div>
        </div>
        <div class="HistoryMaksim-el">
          <div class="HistoryMaksim-el__header FontStyleLobster">
            <div class="HistoryMaksim-el__time">13.01.2023</div>
            <h2>Чудачества Максима</h2>
          </div>
          <div class="HistoryMaksim-el__content">
            <img src="@/img/foto/1167.jpg" alt="Странное поведение ребенка">
            <br/>
            <br/>
            <p>В последнее время появилась у Максима забава одна. Он начинает тыкать на какой-то объект пальцем и своей невнятной речью требовать, чтобы ему его назвали.</p>
            <p> После "озвучивания" он успокаивается, но уже через минуту может всё повторить. Вроде бы мило и полезно? Мы тоже так поначалу думали, отвечаем, подробно объясняем, стараемся расширить словарный запас ребенка и узнавание предметов, а потом приметили, что список «вещей для тыкания» расширяется очень медленно.  </p>
            <br/>

            <p>Я уже вроде упоминала, что у Максима есть проблемы с запоминанием и, следовательно, обучением. Всё дело в долях мозга, которые могли пострадать от гипоксии при родах. И именно поэтому нам так много приходиться повторять, что бы ребёнок запомнил. Да, это утомляет. Да это иногда мешает, потому что приступы такой любознательности могут быть как в садике, так и дома и в магазине, а объяснять каждую красивую обёртку и упаковку - раздражает. Но ломать такое поведение мы пока не собираемся. Пользы от этого больше, чем неудобств. Что бы у ребёнка оставались шансы на развитие, приходиться это делать. </p>
            <p>И если ребенок продолжает это делать, значит ему это нравится. Почему ему это нравиться – отдельный вопрос и причин может быть несколько:</p>
            <br/>
            <ol>
              <li><p>🔸 1.	Он так общается. Обращает на себя внимание. Да, это своего рода эгоизм, но каждый человек сам для себя является центром мира и большинству нравиться, когда на них обращают внимание, многие вполне взрослые и разумные люди ради такой «славы» совершают откровенные глупости.  </p></li>
              <li><p>🔸 2.	Он нашел легкий способ получения гормонов удовольствия: дофамина и серотонина. Поясняю: тут скорее всего переделанная схема обучения, когда мы занимаемся с ребенком, то используем игрушки, карточки и книжки с картинками. Причем, поскольку ребенок не разговорчивый, то от него требуется правильно показать названный предмет, что вызывает похвальбу со стороны родителя/воспитателя и маленькую порцию счастья. Понимаете схему? Он теперь заранее показывает предмет, звучит его правильное название, мозг считает задачу выполненной и на, тебе, Максим кусочек удовольствия, ты молодец.</p></li>
            </ol>
            <br/>
            <p>Немотивированных поступков не бывает. Причина есть всегда, иногда мы до нее не можем додуматься в силу ограниченности опыта, знаний или рамок мышления. Если вы задаете ребенку вопрос «Зачем ты это сделал?» и слышите ответ «Просто так.», то знайте – это ложь. Ребенок всего лишь не хочет или не может вам пояснить свои мотивы, вот и идет по пути меньшего сопротивления. </p>
            <br/>
            <p>ЗЫ Если у вас есть еще какие идеи на счет такого поведения Максима, то поделитесь, расширите наш кругозор.</p>
            <br/>
            <img src="@/img/foto/1168.jpg" alt="Танос о балансе">

          </div>
        </div>





      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        switch: 0 ,


      }
    },
    methods: {
      offSwitch() {
        this.switch = 0
      },
      onSwitch() {
        this.switch += 1
      },
    }
  }
</script>

<style scoped lang="scss">
.HistoryMaksim {
  &-sort {
    &__button {
      position: relative;
      margin-top: 2%;
      padding: 1%;
      border: #660099 solid 2px;
      border-radius: 15px;
      display: inline-block;
      color: #660099;
      background-color: #FFA07A;
      cursor: pointer;
      outline: none;
      box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
      background: linear-gradient(#faa98a, #FFA07A 48%, #f78659 52%, #fa7743);
      &:active {
        top: .1em;
        left: .1em;
        box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
      }
    }
  }
  &-wrapper {
    display: flex;
    &__column {
      flex-direction: column;
    }
    &__columnreverse {
      flex-direction: column-reverse;
    }

  }
  &-el {
    margin: 2% 0;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    &__header {
      // background-color: gold;
      color: #660099;
      text-align: right;

      & h2 {
        // background-color: lightblue;
        text-align: center;
        @media (max-width: 767px) {
          font-size: 24px;
        }

      }

    }
    &__content {
      margin-top: 2%;
      text-indent: 25px;
      text-align: justify;
      & img {
        margin-top: 2%;
        width: 100%;
        height: auto;
      }
    }
  }

}

</style>
