<template>
  <div class ="container">
    <section class="MoreDetailed">
      <div class="MoreDetailed-wrapper">
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">17.11.2022</div>
            <h2>В чём разница между РАС <br/>(расстройство аутистического спектра) и аутизмом.</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Расстройство аутистического спектра (РАС) – это нарушение нервного развития, характеризующееся проблемами социального взаимодействия, двигательными и поведенческими стереотипами. </p>
            <p>В нашей стране РАС еще не имеет четкого определения в классификации заболеваний. Его проявления очень схожи с аутизмом, также имеют тройку проявлений проблем с коммуникацией, социальной адаптацией и стереотипностью поведения. Возможно поэтому данный диагноз так любят ставить всем «непонятным» случаям отклонений.</p>
            <p>В международной практике РАС так же захватывает более широкий спектр нарушений психического развития, которые выходят за рамки определения обычного аутизма. Расстройства могут проявляться в сглаженных формах и иметь менее четкую клиническую картину. Поэтому, по мнению западных специалистов, диагноз аутизм воспринимается как частный вариант общего расстройства аутистического спектра.</p>
            <p>Здесь мы и подошли к основному отличию. Аутизм имеет довольно четкие критерии оценки, а РАС охватывает и все пограничные случаи, которых, кстати, становится все больше.</p>
            <img src="@/img/MoreDetailed/15.jpg" alt="ребенок играет">

            <p>Точного понимания по поводу причин возникновения данного расстройства нет. Высказывались разные версии – от влияния ранней вакцинации до старшего возраста отца или матери ребенка. Но абсолютное большинство сведений, полученных в результате проведенных исследований, опровергают связь РАС и вакцинации.</p>
            <p>
              <ul> Подозревают и другие причины РАС:
                <li>Хромосомные и обменные болезни. Возникновение расстройства аутистического спектра связывают с генезом синдрома Дауна, ломкой X-хромосомы, фенилкетонурии.</li>
                <li>Недоношенность плода. Есть определенная связь между этим нарушением и патологическими факторами, воздействующими на центральную нервную систему в кризисные периоды. Поэтому, если ребенок родился недоношенным, то он автоматически входит в группу риска.</li>
                <li>Возраст родителей. Есть прямая связь между возрастом родителей на момент зачатия и развитием аутистических нарушений. В группу риска входят дети, отцам которых более 50 лет (матерям – 35-40 лет на момент зачатия). Кроме того, РАС развивается у младенцев, рожденных несовершеннолетними мамами.</li>
              </ul></p>
            <p>Аутистические расстройства чаще всего диагностируются у мальчиков – примерно в 3-4 раз чаще, чем у девочек.</p>
            <p>Как и в случае с аутизмом, коррекция РАС подразумевает оказание всесторонней психокоррекции и реабилитации со стороны психолога, психотерапевта. Под их контролем должно происходить формирование навыков социализации и адаптации.</p>
            <img src="@/img/MoreDetailed/16.png" alt="подростка учат РАС">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">18.11.2022</div>
            <h2>Эпидемия аутизма?</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Оценка распространенности РАС подвержена значительным колебаниям. В соответствии с официальным документом ВОЗ, РАС (расстройство аутистического спектра) встречаются у 1 из 160 детей. Но согласно систематическому обзору и мета-анализу общемировых эпидемиологических данных с 1990 по 2010 годы, РАС выявляются у 1 из 132 детей. Тут же, по последним данным одного из американских исследований с охватом 11 штатов, РАС идентифицируются у 1 из 54 детей. Проведенные систематические обзоры и мета-анализы свидетельствуют о высокой степени вариативности эпидемиологических показателей по РАС в зависимости от времени и региона проведения исследований, а также используемой методологии.</p>
            <p>Причины разброса данных по распространенности РАС до конца не ясны, однако систематические обзоры и мета-анализы оказывают, что это связано не с истинным увеличением заболеваемости, а с такими факторами, как изменение диагностических категорий, методологии проведения исследований, повышение доступа широких групп населения к диагностике и терапевтическим вмешательствам, повышением осведомленности о РАС как в профессиональной среде, так и в непрофессиональных сообществах, а также принятие точки зрения, что РАС не исключают других форм нарушений развития и могут сосуществовать с ними.</p> 
            <img src="@/img/MoreDetailed/17.jpg" alt="ребенок через стекло">
            <p>Больным необходимы специальные развивающие мероприятия и реабилитация.
              <ul>Без них существенно ухудшается качество жизни:
                <li> пациенты не овладевают школьной программой (обычной или коррекционной),</li>
                <li> не взаимодействуют с другими людьми,</li>
                <li> не умеют использовать простую систему жестов или других вспомогательных техник общения, например, карточек ПЕКС (PECS).</li>
              </ul>
            </p>
            <p>В результате и взрослые, и дети нуждаются в постоянном уходе и поддержке, самостоятельно не справляются даже с повседневными ритуалами самообслуживания. Нелеченая неврологическая симптоматика, включающая кактатонические приступы, плохо координированную походку, самоповреждающие стереотипные движения, приводит к различного рода травмам. Согласно статистике, физические повреждения получают 20-40% больных, большинство из которых имеют показатель IQ ниже 50.</p>
            <img src="@/img/MoreDetailed/18.png" alt="Обучение больного ребенка РАС">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">19.11.2022</div>
            <h2>Симптомы РАС</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Пациенты с расстройствами аутистического спектра испытывают трудности коммуникации. Они не способны инициировать и продолжать диалог, сближаться с людьми, сочувствовать, сопереживать, делиться эмоциями, вовлекать окружающих в свои идеи. В тяжелых случаях ответ на попытки окружающих установить контакт полностью отсутствует.</p>
            <p>Особенности мышления определяют проблемы в понимании чувственного и ролевого подтекста взаимоотношений. Дети не заводят друзей, отказываются от игр либо участвуют, не вовлекаясь в игровые взаимодействия, не используя воображение. Относительно сохранна функция общения при синдроме Аспергера, но конкретность мышления больных, непонимание мимики и интонаций осложняет установление дружеских отношений, а у взрослых людей – любовно-романтических.</p>
            <p>Другой характерный симптом большинства РАС – отклонения невербального коммуникативного поведения. Пациенты избегают визуального контакта, не используют язык тела и речевую интонацию, имеют проблемы с пониманием и применением невербальных средств общения. В процессе специального обучения они могут выучить небольшое количество функциональных жестов, но их разнообразие гораздо меньше, чем у других людей, а спонтанность использования отсутствует. Тяжелые формы расстройств сопровождаются полным отсутствием зрительных контактов, жестов, мимических выражений.</p>
            <p>Интересы пациентов ограниченны и ригидны. Нередко присутствует патологическая привязанность к предметам – к игрушкам или экземплярам коллекции, к личной посуде, мебели, одежде. Зачастую существует патологическая реакция на поступающие чувственные сигналы – свет, звук, прикосновение, изменение температуры. Парадоксальность ответа заключается в том, что неприятные воздействия, например, болевые, могут восприниматься спокойно, а нейтральные – шепот, шум, сумеречное освещение – вызывают неприятные ощущения.</p>
            <img src="@/img/MoreDetailed/19.jpg" alt="Выбрал любимую игрушку">
            <p>Стереотипии проявляются в простых действиях, речи и сложных поступках. Дети бегают по кругу, стучат игрушками о твердые поверхности, выстраивают их в строгом порядке. Взрослые совершают ритуалы, бывают патологически педантичны в отношении расположения вещей в комнате, испытывают потребность в неизменности и постоянстве (расположение вещей, режим дня, маршрут прогулок, строгое меню). Вербальные стереотипии представлены словесными и фразовыми эхолалиями – бессмысленным многократным повторением слов, последних слогов, окончаний фраз.</p>
            <p>Многие пациенты имеют интеллектуальные расстройства и речевые нарушения. Часто обнаруживаются нарушения в двигательной сфере – шаткая или угловатая походка, ходьба на цыпочках, дискоординация. При тяжелой симптоматике присутствуют самопровреждения стереотипного характера. Взрослые, подростки склонны к депрессии, тревоге. При различных формах расстройств возможно кататаноподобное поведение. В наиболее тяжелом варианте кататония проявляется как полное отсутствие движений и речи, длительная сохранность поз и восковая гибкость (каталепсия). </p>
            <img src="@/img/MoreDetailed/20.jpg" alt="Ранняя диагностика детского аутизма">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">20.11.2022</div>
            <h2>Признаки РАС у детей разного возраста</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Первые признаки нарушения развития ребёнка проявляются уже на первом году жизни (например, ребёнок поздно садится, отсутствует эмоциональный контакт с родителями, интерес к игрушкам, не отзывается на своё имя).</p>
            <p>
              <ul>К вызывающим тревогу родителей сигналам относят:
                <li> в 8 месяцев — отсутствие зрительного контакта и реакции на имя;</li>
                <li> в 12 месяцев — нетипичное использование жестов, отсутствие указательного жеста;</li>
                <li> в 18 месяцев — нетипичная игровая деятельность, непонимание речи или отказ от вступления в диалог;</li>
                <li> в 24 месяца — целый набор взаимосвязанных признаков: отсутствие имитации взрослого и социального общения в игре, медленное накопление словарного запаса.</li>
              </ul>
            </p>
            <p>Более заметными признаки РАС становятся к двум-трём годам. Также возможны случаи, когда уже при появлении навыков происходит регресс, и ребёнок перестаёт делать то, чему научился ранее.</p>
            <p>Для ребёнка с РАС характерно позднее появление навыка речи либо его отсутствие, эхолалия (спонтанное повторение услышанных фраз и звуков вместо осознанной речи), задержки в развитии, отсутствие совместного внимания и указательных жестов, наличие специальных узконаправленных интересов, стереотипное поведение (например, ребёнок может подолгу раскачиваться и ничего не делать, беспрестанно щёлкать выключателем, зажигая и гася свет).</p>
            <img src="@/img/MoreDetailed/21.jpg" alt="Родители следят за ребенком">
            <p>Диагноз выставляется врачом-психиатром на основе данных клинического обследования. Обычно бывает достаточно провести наблюдение за поведением и эмоциональными реакциями ребенка, оценить его способность поддерживать контакт, опросить родителей, выявив жалобы и семейный анамнез. Для получения более точной и полной информации используются специальные методики, например, вопросник социальной коммуникации, скрининговый тест на аутизм у детей (М-ЧАТ), алгоритм наблюдения для диагностики аутизма (ADOS).</p>
            <p>Дополнительно назначается консультация и осмотр неврологом, психологическое тестирование, нацеленное на измерение интеллекта, уровня развития социальных, когнитивных и языковых навыков. Дифференциальная диагностика включает различение РАС с селективным мутизмом, речевыми расстройствами и социальными расстройствами коммуникации, олигофренией без аутистической симптоматики, СДВГ, стереотипными повторяющимися движениями и шизофренией. </p>
            <img src="@/img/MoreDetailed/22.jpg" alt="Доктор и ребенок">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">21.11.2022</div>
            <h2>Осложнения РАС</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>
              <ul>Среди осложнений РАС можно выделить следующие:
                <li> Нарушения поведения, самоповреждения: из-за негибкого поведения и неспособности к адекватному выражению своих эмоций ребёнок может начать кричать, плакать по незначительному поводу или смеяться без видимой причины. Нередко также бывает проявление агрессии по отношению к окружающим или самоповреждающее поведение.</li>
                <li> Нарушения в когнитивной сфере: в большинства детей с РАС в той или иной степени наблюдается снижение интеллекта (за исключением синдрома Аспергера). Степень снижения интеллекта варьируется от неравномерной задержки интеллектуального развития до тяжёлой умственной отсталости. В течение всей жизни могут сохраняться речевые нарушения от простого своеобразия речи до тяжёлого недоразвития или полного отсутствия. Это накладывает ограничение на получение образования и дальнейшее трудоустройство.</li>
                <img src="@/img/MoreDetailed/23.jpg" alt="Ребенок в рубашке">
                <li> Невротические симптомы: у многих людей с РАС развиваются тревожные, депрессивные проявления, обсессивно-компульсивный синдром, нарушения сна.</li>
                <li> Судорожные приступы: примерно треть детей с аутизмом страдают эпилепсией, которая начинается в детском или подростковом возрасте.</li>
                <li> Нарушения пищеварения: из-за избирательности в еде и необычных пищевых привычках при аутизме встречаются различные нарушения пищеварения (например, поносы и запоры), болезни желудка и дефицит витаминов. В стуле может быть непереваренная пища.</li>
                <li> Проблемы с диагностикой других заболеваний: высокий болевой порог препятствует своевременной диагностике осложнений инфекции носа и горла (отиты), что в свою очередь ведёт к снижению слуха, а отсутствие речи не даёт ребёнку корректно сообщить о болевых ощущениях и их локализации.</li>
                <li> Социальная дезадаптация: с раннего возраста дети с РАС испытывают трудности с адаптацией в коллективе. Во взрослом возрасте только 4–12 % людей с РАС готовы к самостоятельной независимой жизни, 80 % продолжают жить с родителями под их опекой, либо же попадают в психо-неврологический интернаты после смерти родителей.</li>
              </ul>
            </p>
            <img src="@/img/MoreDetailed/24.jpg" alt="Радость с ребенком">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">22.11.2022</div>
            <h2>Лечение РАС</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Расстройство часто не поддаётся полному излечению, однако при своевременно начатой комплексной терапии удаётся снизить выраженность его симптомов.</p>
            <p>Логопедическое лечение. Особое внимание при терапии уделяется коррекционно-развивающим занятиям с логопедом, педагогом-дефектологом и психологом. Они должны проводиться специалистами с опытом взаимодействия с такими детьми, так как имеется своя специфика: необходимость адаптации ребёнка к новым условиям, вовлечение в работу всех анализаторов (тактильного, слухового, вкусового, зрительного, обонятельного), привлечение ребёнка к занятию путём мотивации, отработка указательного жеста. Положительный результат достигается лишь при регулярных занятиях с включением в процесс всей семьи ребёнка: родителей, братьев и сестёр.</p>
            <img src="@/img/MoreDetailed/25.jpg" alt="Ребенок обнимает">
            <p>Среди современных подходов к коррекционной работе можно выделить следующие:</p>
            <br/>
            <p>ABA-терапия (applied behavior analysis, прикладной анализ поведения) — комплекс техник, направленных на коррекцию поведения ребёнка и приобретения навыков самообслуживания и нахождения в социуме. Применяя систему поощрений, ребёнка с аутизмом обучают отсутствующим бытовым и коммуникационным навыкам. В качестве поощрения используется вкусная еда, похвала, жетоны. Каждое простое действие разучивается отдельно, затем они объединяются в последовательность. Например, в начале ребёнку даётся простое задание (например "подними руку"), сразу же даётся подсказка (специалист поднимает руку ребёнка), затем ребёнка поощряют. Спустя несколько таких попыток ребёнок уже совершает действие без подсказки, ожидая вознаграждение. Постепенно задания усложняются, даются в произвольном порядке, в разных ситуациях, разными людьми, членами семьи для закрепления навыка. В какой-то момент ребёнок начинает самостоятельно понимать и выполнять новые задания.</p>
            <p>Аналогично тренируются навыки игры, конструктивной деятельности, обучения, а также корректируется нежелательное поведение. Эффективность прикладного анализа поведения была подтверждена научными исследованиями. Чем раньше будет начато использование метода (в желательно с 3-4 лет), чем интенсивнее будут проводиться занятия (минимум 20-40 часов в неделю при общей длительности от 1000 часов) и чем активнее будет включаться метод в повседневную жизнь ребёнка (его использование родителями дома и на прогулке, учителями в школе, воспитателями в детском саду), тем более эффективнее он будет работать.</p>
            <br/>
            <p>На методах ABA-терапии построена Денверская модель – комплексный подход для детей с РАС от 3 до 5 лет, обучающий ребёнка всем необходимым навыкам для данного возраста, что позволяет впоследствии значительно повысить его адаптационные способности.</p>
            <br/>
            <p>PECS (Picture Exchange Communication System) — система альтернативной коммуникации с помощью карточек с изображениями. На карточках изображены предметы или действия, с которыми ребёнок может обратиться к взрослому для получения желаемого. Обучение по этой методике проводится с использованием тактик ABA-терапии. И хотя она не учит устной речи напрямую, у некоторых детей с аутизмом, занимавшихся по этой программе, появляется спонтанная речь.</p>
            <img src="@/img/MoreDetailed/27.jpg" alt="Ребенка учат по Picture Exchange Communication System">
            <p>ТЕАССН (Treatment and Education for Autistic and related Communication handicapped Children) — программа, в основе которой лежит идея структурированного обучения: разделение пространства на отдельные зоны, предназначенные для определённого вида деятельности (зоны работы, зона отдыха), планирование времяпрепровождения по наглядным расписаниям, система презентации задания, визуализация структуры задания.</p>
            <br/>
            <p>DIR (Developmental Individual differences Relationship-based) — концепция оказания комплексной помощи детям с различными нарушениями развития, учитывающая индивидуальные особенности и основанная на построении взаимоотношений между членами семьи. Одним из компонентов этой программы является методика Floortime, обучающая родителей взаимодействовать и развивать ребёнка-аутиста путём включения в его игру и постепенного вовлечения в совместное "пространство".</p>
            <br/>
            <p>Эмоционально-уровневый подход — разработан отечественными психологами (Лебединская, Никольская, Баенская, Либлинг) и широко используется в России и странах СНГ. Он основан на представлениях об уровнях эмоциональной регуляции организма, которые нарушаются при аутизме. Данный подход предполагает терапию через установление эмоционального контакта с ребёнком. В дальнейшем проводится работа над преодолением страхов и агрессии, формируется целенаправленность в деятельности.</p>
            <br/>
            <p>Сенсорная интеграция — метод, направленный на упорядочивание ощущений, полученных от собственных движений и внешнего мира (тактильных, мышечных, вестибулярных). Согласно теории сенсорной интеграции, при нарушении способности воспринимать и обрабатывать ощущения от движений своего тела и внешних воздействий могут нарушаться процессы обучения и поведения. Выполнение определённых упражнений улучшают обработку сенсорных стимулов головным мозгом, что приводит к улучшению поведения и обучения. Самостоятельно данный вид терапии не применяется, он может быть поддерживающим методом в рамках ABA-терапии.</p>
            <br/>
            <p>Медикаментозная терапия назначается как правило в периоды обострения состояния с учётом соотношения пользы и риска, проводится под наблюдением врача. Препараты могут уменьшить некоторые виды поведенческих проблем: гиперактивность, истерики, нарушения сна, тревожность, аутоагрессию. Это может облегчить участие ребенка в жизни семьи, посещение общественных мест, обучение в школе. После достижения стойкой ремиссии препарат постепенно отменяется. Медикаментозное лечение используется в тех случаях, когда остальные методы терапии не эффективны.</p>
            <img src="@/img/MoreDetailed/26.jpeg" alt="Годовалый ребенок">
          </div>
        </div>
        <div class="MoreDetailed-el">
          <div class="MoreDetailed-el__header FontStyleLobster">
            <div class="MoreDetailed-el__time">23.11.2022</div>
            <h2>Как жить с ребенком с РАС</h2>
          </div>
          <div class="MoreDetailed-el__content">
            <p>Ребёнок с РАС требует внимания и ухода, поэтому, как правило, одному из родителей приходится уволиться, чаще всего такое решение принимает мать. Важное значение имеет чёткое распределение ролей членов семьи при уходе за ребёнком — это напрямую влияет на его качество жизни. Перед семьёй, в которой растёт ребенок с РАС, стоит важная задача: нужно создать такую обстановку, где перспективы развития будут не только у ребёнка с РАС, но и у всех членов семьи. В случае, когда родитель получает эффективную психологическую помощь, это положительно влияет и на состояние ребёнка с РАС, так как хорошее самочувствие родителя помогает ему лучше поддерживать ребёнка.</p>
            <p>Прогноз зависит от типа расстройства и симптоматики. При поздней постановке диагноза и отсутствии своевременно начатой лечебно-коррекционной работы в большинстве случаев формируется глубокая инвалидность. Лечение помогает скомпенсировать трудности в поведении и проблемы в коммуникации ребёнка, но некоторые симптомы аутизма остаются с человеком на протяжении всей жизни. В подростковом возрасте симптомы могут усилиться.</p>
            <img src="@/img/MoreDetailed/28.jpg" alt="Как адаптировать ребенка с РАС к школе/группе">
            <p>Относительно благоприятный прогноз наблюдается при синдроме Аспергера (высокофункциональном аутизме): часть детей с этой формой аутизма могут учиться в общеобразовательных школах, в дальнейшем получать высшее образование, вступать в брак и работать. При синдроме Ретта прогноз неблагоприятный, так как заболевание ведёт к тяжёлой умственной отсталости, неврологическим нарушениям, существует риск внезапной смерти (к примеру, от остановки сердца).</p>
            <p>Первичная профилактика РАС затруднена отсутствием данных о причинах его возникновения. Существуют исследования о связи аутизма у ребёнка с бактериальными и вирусными инфекциями матери во время беременности, недостатком в организме матери фолиевой кислоты в момент зачатия, но данных в них недостаточно для однозначных выводов.</p>
            <p>Ко вторичной профилактике можно отнести своевременное выявление симптомов РАС родителями, врачом-педиатром, детским неврологом и обращение к психиатру для уточнения диагноза.</p>
            <p>Инвалидность можно получить при полном или частичном отсутствии у ребёнка с РАС навыков самообслуживания, способности самостоятельно передвигаться, общаться, контролировать своё поведение и обучаться.</p>
            <img src="@/img/MoreDetailed/29.jpeg" alt="Радость с ребенком от успеха">
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    methods: {
    }
  }
</script>

<style scoped lang="scss">
.MoreDetailed {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-el {
    margin: 2% 0;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    &__header {
      // background-color: gold;
      color: #660099;
      text-align: right;

      & h2 {
        // background-color: lightblue;
        text-align: center;
      }

    }
    &__content {
      margin-top: 2%;
      text-indent: 25px;
      text-align: justify;
      & ul {
        margin: 2% 0;
        padding-left: 2rem;
        list-style-type: none;
        @media (max-width: 767px) {
          padding-left: 0rem;
        }

      }

      & ul li {
        margin: 2% 0;

        padding-left: 1rem;
        background-image: url(@/img/icons/star-svgrepo-com.svg);
        background-position: 0 5px;
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        @media (max-width: 767px) {
          background-position: 0 1px;
        }

      }

      & img {
        margin-top: 2%;
        width: 100%;
        height: auto;
      }
    }
  }

}

</style>
