<template>
  
  <div class="general">
    <div class="wrapper">
      <general-header
      @pageSwitching="pageSwitching" />
      <history-maksim v-if="this.page == 1"/>
      <more-detailed v-if="this.page == 2"/>
      <documenting-disease v-if="this.page == 3"/>
      <about-us v-if="this.page == 4"/>
      <help-maxim v-if="this.page == 5"/>
      <general-footer/>
    </div>
  </div>
</template>
<script>
import GeneralHeader from "@/components/GeneralHeader.vue";
import HistoryMaksim from "@/components/HistoryMaksim.vue";
import MoreDetailed from "@/components/MoreDetailed.vue";
import DocumentingDisease from "@/components/DocumentingDisease.vue";
import AboutUs from "@/components/AboutUs.vue";
import HelpMaxim from "@/components/HelpMaxim.vue";
import GeneralFooter from "@/components/GeneralFooter.vue";

  export default {
    components: {
      HistoryMaksim,
      GeneralHeader,
      MoreDetailed,
      DocumentingDisease,
      AboutUs,
      HelpMaxim,
      GeneralFooter
    },
    data() {
      return {
        page: 1,
      }
      
    },
    methods: {
      pageSwitching(name) {
        this.page = name.id
      }

    }

  }
</script>

<style lang="scss">
  @import '@/scss/style';

</style>
