@font-face {
    font-family: 'Lobster';
    src: url('@/fonts/Lobster/Lobster.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('@/fonts/Cambria/Cambria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}









@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Black.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Light.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Italic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-Thin.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('@/fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
        url('@/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}










/**
 * Fonts
 */


//  @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
//     font-weight: 700;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
//     font-weight: 200;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('@/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
//         url('@/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
//         url('@/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }



