

html {
    font-family: Roboto;
    // font-family: Lobster;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing:0.04em;
}
.general {
    background-color: #f8f4ff;
}
.wrapper {
overflow: hidden;
}
.container {
    width: 1240px;
    margin: auto;
    overflow: hidden;
    // background-color: white;
    // border-radius: 15px;
    // padding: 2%;
    // margin-top: 2%;
    @media (max-width: 1240px) {
        width: 100vw;
    }
    @media (max-width: 767px) {
        font-size: 18px;
        & h2 {
            font-size: 24px;
        }
    }
}



//Отменяем выделение текста/картинок
.noSelection {
    //Отменяем выделение текста в кнопках
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}
//Убираем стили для ссылок в кнопках
button {
    & a:active, /* активная/посещенная ссылка */
    a:hover,  /* при наведении */
    a {
    text-decoration: none;
    color: inherit;
    }
}
//Убираем стили для ссылок по классу
.noStyleLink {
    & a:active, /* активная/посещенная ссылка */
    a:hover,  /* при наведении */
    a {
    text-decoration: none;
    color: inherit;
    }
}

button {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: $color-indigo;
    font-weight: 700;
    background-color: gold;
    cursor: pointer;
    border: 2px solid indigo;
    border-radius: 15px;
    outline: 0px solid;
    outline-color: gold;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
    &:hover {
        background-color: yellow;
        box-shadow: 0 0 20px indigo;
        outline: 2px solid;

        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        color: indigo;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}
h1 {
    font-size: 34px;
    // color: $color-gold;
    font-weight: 700;
}
h2 {
    font-size: 34px;
    font-weight: 700;
}
h3 {
    font-size: 28px;
    font-weight: 700;
}
h4 {
    font-size: 28px;
    font-weight: 400;
}
h5 {
    font-size: 24px;
    font-weight: 700;
}

.FontStyleCambria {
    font-family: Cambria;
    letter-spacing:0.1em;
}

.FontStyleLobster {
    font-family: Lobster;
    letter-spacing:0.1em;
}



